@import url(/resources/css/slick.min.css);
@import url(/resources/css/slick-theme.min.css);


[class*='btn_slide_'] {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 2.55em;
  left: 50%;
  transform: translate(5em,0);
}

.btn_slide_pause {
  background-image: url(/resources/images/main/btn_slide_pause.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn_slide_play {
  background-color: #fff;
}

.btn_more {}

.btn_move {}