@import url(/resources/css/slick.min.css);
@import url(/resources/css/slick-theme.min.css);
[class*=btn_slide_] {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 2.55em;
  left: 50%;
  transform: translate(5em, 0);
}

.btn_slide_pause {
  background-image: url(/resources/images/main/btn_slide_pause.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn_slide_play {
  background-color: #fff;
}

.slick-dots li button {
  padding: 0;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  background-color: #fff;
}
.slick-dots li button::before {
  content: "";
  opacity: 1;
}
.slick-dots li.slick-active button {
  border: 1px solid #ff6c13;
  background-color: #ff6c13;
}