@import url(/resources/css/slick.min.css);
@import url(/resources/css/slick-theme.min.css);
[class*=btn_slide_] {
  position: absolute;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
}

.btn_slide_pause {
  background-image: url(/resources/images/common/arrow_pause.png);
}

.btn_slide_play {
  background-image: url(/resources/images/common/arrow_play.png);
}

.btn_slide_prev {
  background-image: url(/resources/images/common/arrow_prev.png);
}

.btn_slide_next {
  background-image: url(/resources/images/common/arrow_next.png);
}

.btn_more {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0.8em;
  right: 0.6em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn_more_gray {
  background-image: url(/resources/images/common/btn_more_gray.png);
}

.btn_more_white {
  background-image: url(/resources/images/common/btn_more_white.png);
}

@media screen and (max-width: 1280px) {
  .btn_more {
    right: 1em;
  }
}
@media screen and (max-width: 720px) {
  .btn_more {
    width: 32px;
    height: 32px;
  }
}
.slick-dots li button {
  padding: 0;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  background-color: #fff;
}
.slick-dots li button::before {
  content: "";
  opacity: 1;
}
.slick-dots li.slick-active button {
  border: 1px solid #ff6c13;
  background-color: #ff6c13;
}