hr {
  position: relative;
  margin: 1.625em 0;
  border: 0px;
}
hr.gray {
  border-top: 1px solid #e9e9e9;
}
hr.orange {
  border-top: 1px solid #e9e9e9;
}
hr.orange::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 128px;
  height: 0px;
  border-top: 1px solid #ff6600;
}

.stt1 {
  margin-bottom: 0.4em;
  font-size: 1.75em;
  color: #333;
  line-height: 1.5;
}
.stt1 + p {
  font-size: 1.125em;
  color: #333;
  line-height: 1.5;
}

.stt2 {
  margin-bottom: 0.65em;
  font-size: 1.625em;
  color: #333;
}

.stt3 {
  margin-bottom: 1em;
  color: #555;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: -0.09em;
}
.stt3::before {
  content: "";
  display: block;
  float: left;
  width: 16px;
  height: 3px;
  margin: 0.3em 0.3em 0 0;
  background-color: #ff6600;
}

.text_box p {
  margin-bottom: 1em;
  line-height: 1.5;
}

.img_box {
  float: right;
}
.img_box img {
  max-width: 100%;
}

.ul_1 {
  padding-bottom: 2em;
}
.ul_1 li {
  position: relative;
  color: #555;
}
.ul_1 li:last-of-type {
  margin-bottom: 0;
}
.ul_1 strong {
  font-weight: 700;
}
.ul_1 > li {
  padding: 0 0 0 0.5em;
  margin-bottom: 1em;
}
.ul_1 > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #c1c1c1;
}
.ul_1 > li > ul {
  padding: 0.5em 0 0;
}
.ul_1 > li > ul > li {
  margin-bottom: 0.5em;
}
.ul_1 > li > ul > li::before {
  content: "-";
  display: inline-block;
  margin: 0 0.5em 0 0;
}

[class*=col-] {
  overflow: hidden;
}
[class*=col-] > * {
  float: left;
}

.col-2-20per .col1 {
  width: 20%;
}
.col-2-20per .col2 {
  width: 80%;
}

.col-2-30per .col1 {
  width: 30%;
}
.col-2-30per .col2 {
  width: 70%;
}

.col-2-60per .col1 {
  width: 60%;
}
.col-2-60per .col2 {
  width: 40%;
}

.board_listbox {
  width: 100%;
  max-height: 500px;
  border: 1px solid #e9e9e9;
}

.board__list {
  position: relative;
}
.board__list:nth-of-type(2n-1) {
  background-color: #f9f9f9;
}
.board__list .board__list__title {
  position: absolute;
  top: 50%;
  left: 2.5em;
  transform: translate(0, -50%);
}
.board__list .board__list__title span {
  color: #888;
}
.board__list .board__list__title h4 {
  color: #333;
  font-size: 1.375em;
  letter-spacing: -0.1em;
}
.board__list .board__list__date {
  padding: 3.25em 16em 3.25em 20em;
  color: #555;
  letter-spacing: 0;
}
.board__list .board__list__btn {
  position: absolute;
  top: 50%;
  right: 2.5em;
  transform: translate(0, -50%);
}
.board__list .board__list__btn button {
  float: left;
  padding: 0.875em;
  margin: 0 0 0 2px;
  min-width: 6.6em;
  color: #fff;
  font-weight: 700;
  background-color: #9ca3ae;
}
.board__list .board__list__btn button:first-of-type {
  margin: 0;
}
.board__list .board__list__btn .btn__enable::after {
  content: "";
  display: block;
  float: right;
  margin: 0 0 0 1em;
  width: 1.875em;
  height: 1.125em;
  background-image: url(/resources/images/common/btn_arrow_move.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.board__list .board__list__btn .btn__disable {
  background-color: #c9cdd4;
}
.board__list .board__list__btn::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 768px) {
  .board__list .board__list__title {
    position: static;
    transform: translate(0, 0);
    padding: 2.5em 16em 0 2.5em;
  }
  .board__list .board__list__date {
    padding: 1em 16em 2.5em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  .board__list .board__list__title {
    padding: 2.5em 1em 0 2.5em;
  }
  .board__list .board__list__date {
    padding: 1em 1em 0em 2.5em;
  }
  .board__list .board__list__btn {
    position: static;
    transform: translate(0, 0);
    padding: 1em 1em 2.5em 2.5em;
  }
}