hr {
  position: relative;
  margin: 1.625em 0;
  border: 0px;
}
hr.gray {
  border-top: 1px solid #e9e9e9;
}
hr.orange {
  border-top: 1px solid #e9e9e9;
}
hr.orange::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 128px;
  height: 0px;
  border-top: 1px solid #ff6600;
}

.stt1 {
  margin-bottom: 0.4em;
  font-size: 1.75em;
  color: #333;
  line-height: 1.5;
}
.stt1 + p {
  font-size: 1.125em;
  color: #333;
  line-height: 1.5;
}

.stt2 {
  margin-bottom: 0.65em;
  font-size: 1.625em;
  color: #333;
}

.stt3 {
  margin-bottom: 1em;
  color: #555;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: -0.09em;
}
.stt3::before {
  content: "";
  display: block;
  float: left;
  width: 16px;
  height: 3px;
  margin: 0.3em 0.3em 0 0;
  background-color: #ff6600;
}

.stt4 {
  font-size: 1.375em;
  margin: 0 0 0.8em 0;
  font-weight: 700;
}
.stt4 em {
  font-weight: 400;
}
.stt4::after {
  content: "";
  display: block;
  width: 26px;
  height: 2px;
  margin: 0.3em 0.3em 0 0;
  background-color: #ff6600;
}

.font-red {
  color: #f6362b;
}

.text_box p {
  margin-bottom: 1em;
  line-height: 1.5;
}

.status_box {
  padding: 3.4em 1em 2.4em;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.status_box > * {
  display: block;
}
.status_box strong {
  margin-bottom: 0.3em;
  font-size: 1.875em;
}
.status_box em {
  font-size: 1.375em;
  color: #333;
}
.status_box p {
  margin-top: 2.2em;
  color: #777;
}

.reservation_items {
  overflow: hidden;
  padding: 1.7em 1em;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
  text-align: center;
  line-height: 3.25em;
}
.reservation_items .reservation_item {
  display: inline-block;
  height: 3.25em;
  padding-left: 3.6em;
  margin: 0.5em 0;
  color: #555;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: 3.25em 3.25em;
  background-position: left center;
}
.reservation_items .reservation_item::after {
  content: "";
  display: inline-block;
  width: 2em;
  height: 1em;
  margin: 0 1em;
  vertical-align: middle;
  background-image: url(../images/common/btn_arrow_move_gray.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.reservation_items .reservation_item:nth-of-type(1) {
  background-image: url(../images/ico_reservation_1.png);
}
.reservation_items .reservation_item:nth-of-type(2) {
  background-image: url(../images/ico_reservation_2.png);
}
.reservation_items .reservation_item:nth-of-type(3) {
  background-image: url(../images/ico_reservation_3.png);
}
.reservation_items .reservation_item:nth-of-type(3)::after {
  display: none;
}
.reservation_items .reservation_item.active:nth-of-type(1) {
  background-image: url(../images/ico_reservation_1_active.png);
}
.reservation_items .reservation_item.active:nth-of-type(2) {
  background-image: url(../images/ico_reservation_2_active.png);
}
.reservation_items .reservation_item.active:nth-of-type(3) {
  background-image: url(../images/ico_reservation_3_active.png);
}

.box_gray {
  margin-bottom: 3.5em;
  padding: 3.5em 2.25em;
  background-color: #f8f8f8;
}

.box_gallery {
  margin-bottom: 3.5em;
}
.box_gallery .imgbox {
  border: 1px solid #e6e6e6;
}

.doc_image {
  float: right;
  margin-bottom: 1em;
  overflow: hidden;
}
.doc_image img {
  width: 100%;
}

.imgbox {
  width: 100%;
  height: 0;
  padding-bottom: 67.0487106017%;
  margin-bottom: 1em;
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

.img-circle {
  float: left;
  width: 10.75em;
  height: 10.75em;
  border-radius: 50%;
  margin-bottom: 1em;
  overflow: hidden;
}
.img-circle img {
  width: 100%;
}
.img-circle + p {
  float: left;
  padding: 0 1em;
}

.img_title {
  color: #555;
  font-size: 1.125em;
  font-weight: 700;
}

.img_detail {
  color: #999;
  font-size: 0.875em;
}

.info_text {
  margin-bottom: 1em;
}

.ul_1 {
  padding-bottom: 2em;
}
.ul_1 li {
  position: relative;
  color: #555;
}
.ul_1 li:last-of-type {
  margin-bottom: 0;
}
.ul_1 strong {
  font-weight: 700;
}
.ul_1 > li {
  padding: 0 0 0 0.5em;
  margin-bottom: 1em;
}
.ul_1 > li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #c1c1c1;
}
.ul_1 > li > ul {
  padding: 0.5em 0 0;
}
.ul_1 > li > ul > li {
  margin-bottom: 0.5em;
}
.ul_1 > li > ul > li::before {
  content: "-";
  display: inline-block;
  margin: 0 0.5em 0 0;
}

[class*=col-] {
  overflow: hidden;
}
[class*=col-] > [class*=col] {
  float: left;
  padding: 0 1%;
}
[class*=col-] > [class*=col]:first-of-type {
  padding: 0 1% 0 0;
}
[class*=col-] > [class*=col]:last-of-type {
  padding: 0 0 0 1%;
}

.col-2-20per > .col1 {
  width: 20%;
}
.col-2-20per > .col2 {
  width: 80%;
}

.col-2-30per > .col1 {
  width: 30%;
}
.col-2-30per > .col2 {
  width: 70%;
}

.col-2-40per > .col1 {
  width: 40%;
}
.col-2-40per > .col2 {
  width: 60%;
}

.col-2-50per > .col1 {
  width: 50%;
}
.col-2-50per > .col2 {
  width: 50%;
}

.col-2-60per > .col1 {
  width: 60%;
}
.col-2-60per > .col2 {
  width: 40%;
}

.col-3-33per > .col1 {
  width: 33%;
}
.col-3-33per > .col2 {
  width: 34%;
}
.col-3-33per > .col3 {
  width: 33%;
}

.col-4-25per > .col1 {
  width: 24.5%;
}
.col-4-25per > .col2 {
  width: 25.5%;
}
.col-4-25per > .col3 {
  width: 25.5%;
}
.col-4-25per > .col4 {
  width: 24.5%;
}

.w-5per {
  width: 5%;
}

.w-10per {
  width: 10%;
}

.w-15per {
  width: 10%;
}

.w-20per {
  width: 20%;
}

.w-25per {
  width: 20%;
}

.w-30per {
  width: 30%;
}

.w-40per {
  width: 40%;
}

.w-50per {
  width: 50%;
}

.w-60per {
  width: 60%;
}

.w-65per {
  width: 65%;
}

.w-70per {
  width: 70%;
}

.w-80per {
  width: 80%;
}

.w-90per {
  width: 90%;
}

.w-100per {
  width: 100%;
}

/********** BUTTON **********/
.btn_wrap {
  font-size: 1.375em;
  margin: 0 0 1em 0;
}

.btn {
  padding: 0.6em 1em;
  min-width: 9.5em;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
}

.btn1 {
  background-color: #75849a;
}

.btn2 {
  background-color: #bac1cc;
}

.btn3 {
  background-color: #9ca3ae;
}

.btn4 {
  color: #ff6600;
  background-color: #fff;
  border: 1px solid #ff6600;
}
.btn4.btn-arrow {
  text-align: left;
}
.btn4.btn-arrow::after {
  content: "";
  display: block;
  float: right;
  margin: 0 0 0 1em;
  width: 2.3em;
  height: 1.3em;
  background-image: url(../../resources/images/common/btn_arrow_move_orange.png);
}
.btn4:hover, .btn4:focus {
  color: #fff;
  background-color: #ff6600;
}
.btn4:hover::after, .btn4:focus::after {
  background-image: url(../../resources/images/common/btn_arrow_move_orange_hover.png);
}

.btn-arrow {
  text-align: left;
}
.btn-arrow::after {
  content: "";
  display: block;
  float: right;
  margin: 0 0 0 1em;
  width: 1.4em;
  height: 1.3em;
  background-image: url(../../resources/images/common/btn_arrow_move.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-download {
  border: 1px solid #e9e9e9;
  color: #666;
  font-weight: 400;
  background-color: #fff;
  text-align: left;
}
.btn-download.icon-right::before {
  float: right;
  margin-left: 1em;
  margin: 0.2em 0 0 1em;
}
.btn-download::before {
  content: "";
  display: block;
  float: left;
  margin: 0.2em 1em 0 0;
  width: 20px;
  height: 18px;
  background-image: url(../../resources/images/ico_file.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.board_item_btn {
  overflow: hidden;
}
.board_item_btn .btn {
  float: left;
  padding: 0.875em;
  margin: 0 0 0 2px;
  min-width: 6.6em;
}
.board_item_btn .btn:first-of-type {
  margin: 0;
}

/********** BOARD MARK **********/
.board_mark {
  display: inline-block;
  padding: 0.5em 2em;
  min-width: 6.75em;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background-color: #ff6600;
}
.board_mark.closed {
  background-color: #787878;
}

.board_mark_small {
  display: inline-block;
  padding: 0.3em 0.6em;
  min-width: 3.43em;
  font-size: 0.875em;
  text-align: center;
  background-color: #fff;
  color: #ff3622;
  border: 1px solid #ff9854;
}
.board_mark_small.free {
  color: #777;
  border: 1px solid #a2adbb;
}

/********** BOARD **********/
.board_items {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid #e9e9e9;
}

.board_item {
  position: relative;
}
.board_item:nth-of-type(2n-1) {
  background-color: #f9f9f9;
}
.board_item .board_item_title {
  position: absolute;
  top: 50%;
  left: 2.5em;
  transform: translate(0, -50%);
}
.board_item .board_item_title span {
  color: #888;
}
.board_item .board_item_title h4 {
  color: #333;
  font-size: 1.375em;
  letter-spacing: -0.1em;
}
.board_item .board_item_date {
  padding: 3.25em 16em 3.25em 20em;
  color: #555;
  letter-spacing: 0;
}
.board_item .board_item_btn {
  position: absolute;
  top: 50%;
  right: 2.5em;
  transform: translate(0, -50%);
}

.apply_board_items {
  width: 100%;
  overflow: hidden;
}

.apply_board_item {
  position: relative;
  padding: 2.25em 10em 2.25em 30%;
  overflow: hidden;
  border-bottom: 1px solid #e9e9e9;
}
.apply_board_item:first-of-type {
  border-top: 1px solid #e9e9e9;
}
.apply_board_item .board_item_img {
  position: absolute;
  top: 50%;
  left: 1.5em;
  transform: translate(0, -50%);
  width: 24.3333333333%;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  height: 0;
  padding-bottom: 16.25%;
}
.apply_board_item .board_item_img img {
  width: 100%;
}
.apply_board_item .board_item_contents {
  width: 100%;
}
.apply_board_item .board_item_title .board_item_subtitle {
  margin: 0 0.5em 0 0;
  font-size: 0.875em;
  color: #888;
}
.apply_board_item .board_item_title .board_item_maintitle {
  font-size: 1.5em;
  margin: 0.5em 0 0.9em 0;
}
.apply_board_item .board_item_detail {
  margin: 0 0 0.5em 0;
  font-size: 0.9375em;
  color: #666;
  letter-spacing: -0.03em;
}
.apply_board_item .board_item_detail dt {
  float: left;
  min-width: 6.2em;
}
.apply_board_item .board_item_detail dd {
  float: left;
}
.apply_board_item .board_item_detail dd em {
  color: #ff5954;
}
.apply_board_item .board_item_detail::after {
  content: "";
  display: block;
  clear: both;
}
.apply_board_item .board_item_more {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
  text-align: center;
}
.apply_board_item .board_item_more a {
  display: block;
  padding: 0.5em 0;
  min-width: 5.8em;
  text-align: left;
  font-size: 1.25em;
}
.apply_board_item .board_item_more a::after {
  content: "";
  display: block;
  float: right;
  margin: 0 0 0 0.5em;
  width: 1.4em;
  height: 1.3em;
  background-repeat: no-repeat;
  background-image: url(../../resources/images/common/btn_arrow_move_orange.png);
  background-size: contain;
  background-position: center;
}
.apply_board_item .board_item_more .board_mark {
  margin: 0 0 1em 0;
}

.article_board_items {
  overflow: hidden;
  margin: 0 0 1em 0;
}

.article_board_item {
  padding: 3em 1.75em 2.2em;
  margin: 0 1% 1em;
  width: 32%;
  float: left;
  border: 1px solid #e9e9e9;
  line-height: 1.4;
  word-break: keep-all;
}
.article_board_item:nth-of-type(3n-2) {
  margin-left: 0;
}
.article_board_item:nth-of-type(3n) {
  margin-right: 0;
}
.article_board_item .board_item_title {
  margin: 0 0 1.25em 0;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.article_board_item .board_item_contents {
  margin: 0 0 1.65em 0;
  color: #888;
  font-size: 0.9375em;
  letter-spacing: -0.05em;
}
.article_board_item .board_item_subtitle {
  display: inline-block;
  margin: 0 0.5em 0 0;
  color: #666;
  font-weight: 700;
}
.article_board_item .board_item_subtitle::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  margin: 0 0 1em 0;
  background-color: #ff7900;
}
.article_board_item .board_item_date {
  color: #888;
  font-size: 0.9375em;
  font-weight: 400;
  letter-spacing: 0;
}

.gallery_board_items {
  overflow: hidden;
}

.gallery_board_item {
  display: block;
  float: left;
  margin: 0 0.5% 1em;
  width: 24.25%;
  border: 1px solid #e9e9e9;
}
.gallery_board_item:nth-of-type(4n-3) {
  margin-left: 0;
}
.gallery_board_item:nth-of-type(4n) {
  margin-right: 0;
}
.gallery_board_item .board_item_img {
  width: 100%;
  height: 0;
  padding-bottom: 140%;
  overflow: hidden;
  background-color: #efefef;
}
.gallery_board_item .board_item_img img {
  width: 100%;
}
.gallery_board_item .board_item_contents {
  padding: 2.4em 1.4em 2.6em;
  background-image: url(../images/common/btn_arrow_move_orange.png);
  background-repeat: no-repeat;
  background-size: 2.3em 1.3em;
  background-position: right 1.4em bottom 4.2em;
}
.gallery_board_item .board_item_title {
  margin: 0 0 0.6em 0;
  color: #555;
  font-size: 1.31em;
  font-weight: 700;
}
.gallery_board_item .board_item_date {
  margin: 0 0 0.6em 0;
  color: #666;
  font-size: 0.9375em;
}
.gallery_board_item .board_item_detail {
  color: #666;
  font-size: 0.9375em;
}

th, td {
  word-break: keep-all;
}

td {
  text-align: center;
}
td.td-left {
  text-align: left;
}
td.td-right {
  text-align: right;
}
td.td-center {
  text-align: center;
}

.board_list table {
  width: 100%;
  border-top: 2px solid #92959b;
  table-layout: fixed;
}
.board_list table thead tr th {
  height: 46px;
  border-bottom: 1px solid #d0d0d0;
}
.board_list table tbody tr.fixed td:first-of-type {
  color: #ff5c1c;
  font-weight: 700;
}
.board_list table tbody tr td {
  position: relative;
  height: 62px;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 10px;
}
.board_list table tbody tr td .board__title {
  max-width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board_pagination {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
.board_pagination [class*=board__btn__] {
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.board_pagination .board__btn__first {
  background-image: url(../../resources/images/board_btn_first.png);
}
.board_pagination .board__btn__prev {
  background-image: url(../../resources/images/board_btn_prev.png);
}
.board_pagination .board__btn__next {
  background-image: url(../../resources/images/board_btn_next.png);
}
.board_pagination .board__btn__last {
  background-image: url(../../resources/images/board_btn_last.png);
}

.board__page {
  display: inline-block;
  padding: 0.5em 0.9em;
  border-radius: 50%;
}
.board__page.current {
  color: #fff;
  background-color: #9ca3ae;
}

.board_search {
  position: relative;
  max-width: 27.5em;
  height: 2.85em;
  margin: 0 auto;
  padding: 0 3em 0 7em;
}
.board_search [class*=board__search__] {
  display: block;
  float: left;
  height: 100%;
}
.board_search .board__search__select {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1.375em;
  width: 7em;
  color: #888;
  border: 1px solid #dbdbdb;
  border-right: 0;
  background-image: url(../../resources/images/search_arrow.png);
  background-repeat: no-repeat;
  background-size: 10px 8px;
  background-position: right 1em center;
}
.board_search .board__search__word {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #dbdbdb;
  border-right: 0;
}
.board_search .board__search__btn {
  width: 3em;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #75849a;
  background-image: url(../../resources/images/search_btn.png);
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position: center;
}

.board_tabs {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2.5em;
}
.board_tabs.tab-1 .board_tab {
  width: 100%;
}
.board_tabs.tab-2 .board_tab {
  width: 50%;
}
.board_tabs.tab-3 .board_tab {
  width: 33.3333%;
}
.board_tabs.tab-4 .board_tab {
  width: 25%;
}
.board_tabs.tab-5 .board_tab {
  width: 20%;
}
.board_tabs.tab-6 .board_tab {
  width: 16.6666%;
}

.board_tab {
  display: block;
  float: left;
  height: 100%;
  padding: 0.9em 0.2em;
  font-size: 1.125em;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  border-right: 0;
}
.board_tab:last-of-type {
  border-right: 1px solid #d4d4d4;
}
.board_tab.active {
  background-color: #ff6600;
  color: #fff;
}

.ico_file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 1.25em;
  height: 1.25em;
  background-image: url(../../resources/images/ico_file.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/********** BOARD VIEW **********/
.board_view_header .board__view__title {
  padding: 1em 0;
  border-top: 2px solid #92959b;
  border-bottom: 1px solid #d0d0d0;
  color: #555;
  font-size: 1.75em;
}
.board_view_header .board__view__detail {
  overflow: hidden;
  padding: 1.2em 0;
  color: #666;
  font-size: 0.94em;
}
.board_view_header .board__view__detail li {
  display: block;
  float: left;
}
.board_view_header .board__view__detail li + li::before {
  content: "|";
  display: block;
  float: left;
  margin: 0 1em;
  color: #ddd;
}

.board_view_body {
  padding: 3em 0;
  min-height: 20em;
}

.board_view_footer {
  overflow: hidden;
  padding: 0.5em 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 0;
  color: #666;
}
.board_view_footer [class*=footer__] {
  float: left;
  width: 90%;
  font-size: 0.94em;
}
.board_view_footer [class*=footer__] a {
  display: inline-block;
  margin: 0.5em;
  word-break: break-all;
}
.board_view_footer [class*=footer__] + [class*=footer__] {
  padding: 0 1em;
}
.board_view_footer .footer__title {
  width: 10%;
  margin: 0.5em 0;
  text-align: center;
  letter-spacing: -0.01em;
}
.board_view_footer .footer__download a {
  padding-right: 2em;
  background-image: url(../../resources/images/ico_file.png);
  background-repeat: no-repeat;
  background-size: 1.33em 1.2em;
  background-position: right center;
}
.board_view_footer:last-of-type {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #cfcfcf;
}

.board_view_btn {
  margin: 0 0 2em 0;
  text-align: center;
  font-size: 1.375em;
}

.board_view_pagination .pagination_items {
  position: relative;
  padding: 1em 10%;
  overflow: hidden;
  border-top: 1px solid #e2e2e2;
}
.board_view_pagination .pagination_items > * {
  float: left;
}
.board_view_pagination .pagination_items:last-of-type {
  border-bottom: 1px solid #e2e2e2;
}
.board_view_pagination .pagination_items .item_indicate {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 10%;
  text-align: center;
}
.board_view_pagination .pagination_items .item_indicate::after {
  content: "|";
  display: block;
  float: right;
  color: #e2e2e2;
}
.board_view_pagination .pagination_items .item_title {
  padding: 0 1.3em;
  width: 100%;
}
.board_view_pagination .pagination_items .item_date {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 10%;
  text-align: center;
}

.board_view_visual {
  position: relative;
  width: 100%;
  height: 22.25em;
  background-image: url(../images/sub_visual.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.board_view_visual .board_view_contents {
  position: absolute;
  top: 0;
  right: 0;
  width: 20.5em;
  height: 100%;
  padding: 3em 1.5em;
  color: #fff;
  background-color: rgba(66, 72, 98, 0.65);
}
.board_view_visual .board_view_detail dl {
  margin: 0 0 0.5em 0;
  letter-spacing: -0.03em;
}
.board_view_visual .board_view_detail dl dt {
  float: left;
  min-width: 5.5em;
}
.board_view_visual .board_view_detail dl dd {
  float: left;
}
.board_view_visual .board_view_detail dl::after {
  content: "";
  display: block;
  clear: both;
}
.board_view_visual .board_view_btn {
  position: absolute;
  left: 50%;
  bottom: 1.7em;
  transform: translate(-50%, 0);
  margin: 0;
}

/********** INPUT FORM **********/
.agree__body {
  margin-bottom: 0.6em;
  padding: 1.75em;
  border: 1px solid #dbdbdb;
  color: #555;
  background-color: #f9f9f9;
}
.agree__body dl {
  margin-bottom: 2.5em;
}
.agree__body dl:last-of-type {
  margin-bottom: 0;
}
.agree__body dl dt {
  margin-bottom: 0.5em;
  font-weight: 700;
}
.agree__body dl dd {
  margin-bottom: 0.5em;
}
.agree__body dl dd:last-of-type {
  margin-bottom: 0;
}

.agree__footer {
  overflow: hidden;
}

.agree__phrase {
  float: left;
  color: #555;
}

.agree__check__wrap {
  float: right;
  height: 1.5em;
}
.agree__check__wrap li {
  display: block;
  float: left;
  margin-left: 1em;
}
.agree__check__wrap input[type=checkbox] {
  display: block;
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em 0 0;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
}
.agree__check__wrap input[type=checkbox] + label {
  color: #555;
  line-height: 1.5;
  cursor: pointer;
}
.agree__check__wrap input[type=checkbox]:checked {
  border-color: #ff6600;
  background-color: #ff6600;
}

.choice_wrap {
  padding: 2.5em 1.5em;
  border: 1px solid #d3d3d3;
  color: #555;
}

.choice__radio__wrap li {
  display: block;
  margin-bottom: 1.2em;
  overflow: hidden;
  letter-spacing: -0.06em;
}
.choice__radio__wrap li:last-of-type {
  margin-bottom: 0;
}
.choice__radio__wrap li span {
  margin-right: 1.4em;
  font-size: 1.25em;
}
.choice__radio__wrap li strong {
  font-size: 1.125em;
  letter-spacing: -0.01em;
}
.choice__radio__wrap li em {
  display: inline-block;
  min-width: 4.2em;
  text-align: right;
  font-size: 1.125em;
  font-weight: 700;
}
.choice__radio__wrap input[type=radio] {
  display: block;
  float: left;
  width: 1.375em;
  height: 1.375em;
  margin: 0 0.5em 0 0;
  border: 1px solid #b5b5b5;
  border-radius: 50%;
}
.choice__radio__wrap input[type=radio] + label {
  margin-right: 0.6em;
  font-size: 1.25em;
}
.choice__radio__wrap input[type=radio]:checked {
  background-image: url(../images/common/radio_checked.png);
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}

.apply_wrap {
  max-width: 810px;
  padding: 1.5em 1.8em;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}

.apply__item {
  position: relative;
  float: left;
  width: 49%;
  height: 2.75em;
  margin: 6px 0;
  margin-left: 2%;
  padding: 0 0 0 8em;
}
.apply__item:nth-of-type(2n-1) {
  margin-left: 0;
}

.apply__item__head {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  max-width: 8em;
  color: #666;
}
.apply__item__head strong {
  font-weight: 700;
}

.apply__item__body {
  width: 100%;
  height: 100%;
}
.apply__item__body [class*=input__] {
  width: 100%;
  height: 2.75em;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid #dbdbdb;
}
.apply__item__body .search__code {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6em;
  height: 2.75em;
  background-color: #9ca3ae;
  color: #fff;
  font-weight: 700;
}

/********** TABLE **********/
.table_type1 {
  color: #666;
}
.table_type1 th, .table_type1 td {
  padding: 1.2em 1em;
}
.table_type1 thead tr th {
  border-bottom: 1px solid #e9e9e9;
}
.table_type1 thead tr th + th {
  border-left: 1px solid #e9e9e9;
}
.table_type1 thead tr:first-of-type th {
  border-top: 1px solid #86898f;
}
.table_type1 tbody th {
  border: 1px solid #e9e9e9;
  border-left: 0;
}
.table_type1 tbody td {
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}
.table_type1 tbody td strong {
  margin-left: 1.5em;
  color: #333;
}
.table_type1 tbody .tbody_th_1 {
  text-align: center;
  color: #3c7c99;
  font-size: 1.06em;
  font-weight: 700;
  border-left: 0;
  background-color: #f8fbfd;
}
.table_type1 tbody .tbody_th_2 {
  color: #557f92;
}

/********** CALENDAR **********/
.calendar .calendar__date {
  margin-bottom: 1em;
  text-align: center;
}
.calendar .calendar__date label {
  float: left;
}
.calendar .calendar__date [class*=calendar__date__] {
  display: inline-block;
  padding: 0 1em 0 0.7em;
  height: 1.875em;
  border: 1px solid #dbdbdb;
  font-size: 1.5em;
  color: #333;
  background-image: url(../../resources/images/common/select_arrow.png);
  background-repeat: no-repeat;
  background-size: 0.45em 0.295em;
  background-position: center right 0.5em;
}
.calendar .calendar__date [class*=calendar__date__] + span {
  color: #666;
  font-size: 1.5em;
}
.calendar .calendar__date .calendar__date__year {
  width: 5.2em;
}
.calendar .calendar__date .calendar__date__month {
  width: 3.5em;
  margin-left: 0.3em;
}
.calendar table {
  color: #666;
}
.calendar table thead tr th {
  padding: 1em 0;
  border: 1px solid #e8e8e8;
  border-top: 2px solid #92959b;
  border-bottom: 1px solid #cfcfcf;
  background-color: #f9f9f9;
}
.calendar table tbody tr td {
  width: 14.2857142857%;
  border: 1px solid #e9e9e9;
  text-align: left;
  word-break: initial;
}
.calendar table tbody tr td .calendar__day {
  min-height: 7.75em;
  padding: 0.5em;
}
.calendar table tbody tr td .calendar__day ul li {
  margin-bottom: 0.5em;
  font-size: 0.815em;
  line-height: 1.5;
}
.calendar table tbody tr td .calendar__day .board_mark {
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  min-width: 20px;
  font-size: 0.77em;
}
.calendar table tbody tr td.sat {
  color: #0081e5;
}
.calendar table tbody tr td.sun {
  color: #f30000;
}

/********** RESPONSIVE **********/
@media screen and (max-width: 1200px) {
  .board_tabs.tab-5 .board_tab {
    width: 33.3333%;
  }
  .board_tabs.tab-5 .board_tab:nth-of-type(1), .board_tabs.tab-5 .board_tab:nth-of-type(2) {
    border-bottom: 0;
  }
  .board_tabs.tab-5 .board_tab:nth-of-type(3) {
    border-right: 1px solid #d4d4d4;
  }
  .board_tabs.tab-6 .board_tab {
    width: 33.3333%;
  }
  .board_tabs.tab-6 .board_tab:nth-of-type(1), .board_tabs.tab-6 .board_tab:nth-of-type(2) {
    border-bottom: 0;
  }
  .board_tabs.tab-6 .board_tab:nth-of-type(3) {
    border-right: 1px solid #d4d4d4;
    border-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  .article_board_item {
    padding: 2em 1.5em;
  }
  .gallery_board_item {
    width: 32%;
    margin: 0 1% 1em;
  }
  .gallery_board_item:nth-of-type(4n-3), .gallery_board_item:nth-of-type(4n) {
    margin: 0 1% 1em;
  }
  .gallery_board_item:nth-of-type(3n-2) {
    margin-left: 0;
  }
  .gallery_board_item:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .board_item .board_item_title {
    position: static;
    transform: translate(0, 0);
    padding: 2.5em 16em 0 2.5em;
  }
  .board_item .board_item_date {
    padding: 1em 16em 2.5em 2.5em;
  }
}
@media screen and (max-width: 720px) {
  .org__table .mo-hidden {
    display: none;
  }
  .org__table .mo-removeBorder {
    border-left: 0;
  }
  .board_view_footer .footer__title {
    width: 100%;
    padding-left: 0.5em;
    text-align: left;
  }
  .board_view_footer [class*=footer__] {
    width: 100%;
  }
  .board_view_footer [class*=footer__] + [class*=footer__] {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .apply_board_item {
    padding: 1em;
  }
  .apply_board_item .board_item_img {
    position: static;
    transform: translate(0, 0);
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40.0684931507%;
  }
  .apply_board_item .board_item_contents {
    padding: 1em 8em 1em 0;
  }
  .apply_board_item .board_item_more {
    top: initial;
    bottom: 20%;
    right: 1em;
    transform: translate(0, 0);
  }
  .apply_board_item .board_item_more .board_mark {
    margin: 0;
  }
  .article_board_item {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .gallery_board_item {
    width: 49.5%;
    margin: 0 0 1em 0;
  }
  .gallery_board_item:nth-of-type(4n-3), .gallery_board_item:nth-of-type(4n) {
    margin: 0 0 1em 0;
  }
  .gallery_board_item:nth-of-type(3n-2), .gallery_board_item:nth-of-type(3n) {
    margin: 0 0 1em 0;
  }
  .gallery_board_item:nth-of-type(2n) {
    margin-left: 1%;
  }
  .gallery_board_item .board_item_contents {
    background-position: right 1.4em bottom 2.5em;
  }
  .apply__item {
    width: 100%;
    margin-left: 0;
  }
  .board_view_pagination .pagination_items {
    padding: 1em 15%;
  }
  .board_view_pagination .pagination_items .item_indicate,
  .board_view_pagination .pagination_items .item_date {
    width: 15%;
  }
}
@media screen and (max-width: 480px) {
  .board_item .board_item_title {
    padding: 2.5em 1em 0 2.5em;
  }
  .board_item .board_item_date {
    padding: 1em 1em 0em 2.5em;
  }
  .board_item .board_item_btn {
    position: static;
    transform: translate(0, 0);
    padding: 1em 1em 2.5em 2.5em;
  }
  .board_list .mobile-none {
    display: none;
  }
  .gallery_board_item {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .board_view_pagination .pagination_items {
    padding: 1em 20%;
  }
  .board_view_pagination .pagination_items .item_indicate,
  .board_view_pagination .pagination_items .item_date {
    width: 20%;
  }
}
@media screen and (max-width: 320px) {
  .apply__item {
    padding: 0;
    height: auto;
  }
  .apply__item__head {
    position: static;
    transform: translate(0, 0);
    margin-bottom: 0.5em;
  }
  .board_view_visual .board_view_contents {
    width: 100%;
  }
}