hr {
  position: relative;
  margin: 1.625em 0;
  border: 0px;

  &.gray {
    border-top: 1px solid #e9e9e9;
  }

  &.orange {
    border-top: 1px solid #e9e9e9;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 128px;
      height: 0px;
      // background-color: #ff6600;
      border-top:  1px solid #ff6600;
    }
  }
}

.stt1 {
  margin-bottom: 0.4em;
  font-size: 1.75em;
  color: #333;
  line-height: 1.5;

  & + p {
    font-size: 1.125em;
    color: #333;
    line-height: 1.5;
  }
}

.stt2 {
  margin-bottom: 0.65em;
  font-size: 1.625em;
  color: #333;
}

.stt3 {
  margin-bottom: 1em;
  color: #555;
  font-size: 1.375em;
  font-weight: 700;
  letter-spacing: -0.09em;

  &::before {
    content: '';
    display: block;
    float: left;
    width: 16px;
    height: 3px;
    margin: 0.3em 0.3em 0 0;
    background-color: #ff6600;
  }
}

.stt4 {
  font-size: 1.375em;
  margin: 0 0 0.8em 0;
  font-weight: 700;

  em {
    font-weight: 400;
  }

  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    margin: 0.3em 0.3em 0 0;
    background-color: #ff6600;
  }
}

.text_box {
  p {
    margin-bottom: 1em;
    line-height: 1.5;
  }
}

.infobox {
  margin-bottom: 3.5em; 
  padding: 3.5em 2.25em;
  background-color: #f8f8f8;
}

.gallery {
  margin-bottom: 3.5em;

  .imgbox {
    border: 1px solid #e6e6e6;
  }
}

.doc_image {
  float: right;
  margin-bottom: 1em;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.imgbox {
  width: 100%;
  height: 0;
  padding-bottom: 67.0487106017192%;
  margin-bottom: 1em;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.img-circle {
  float: left;
  width: 10.75em;
  height: 10.75em;
  border-radius: 50%;
  margin-bottom: 1em;
  overflow: hidden;

  img {
    width: 100%;
  }

  & + p {
    float: left;
    padding: 0 1em;
  }
}

.img_title {
  color: #555;
  font-size: 1.125em;
  font-weight: 700;
}

.img_detail {
  color: #999;
  font-size: 0.875em;
}

.info_text {
  margin-bottom: 1em;
}

.ul_1 {
  padding-bottom: 2em;

  li {
    position: relative;
    color: #555;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: 700;
  }

  & > li {
    padding: 0 0 0 0.5em;
    margin-bottom: 1em;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #c1c1c1;
    }

    & > ul {
      padding: 0.5em 0 0;

      & > li {
        margin-bottom: 0.5em;

        &::before {
          content: '-';
          display: inline-block;
          margin: 0 0.5em 0 0;
        }
      }
    }
  }
}

[class*='col-'] {
  overflow: hidden;

  & > [class*='col'] {
    float: left;
    padding: 0 1%;

    &:first-of-type {
      padding: 0 1% 0 0;
    }

    &:last-of-type {
      padding: 0 0 0 1%;
    }
  }
}

.col-2-20per {
  & > .col1 {
    width: 20%;
  }

  & > .col2 {
    width: 80%;
  }
}

.col-2-30per {
  & > .col1 {
    width: 30%;
  }

  & > .col2 {
    width: 70%;
  }
}

.col-2-40per {
  & > .col1 {
    width: 40%;
  }

  & > .col2 {
    width: 60%;
  }
}

.col-2-50per {
  & > .col1 {
    width: 50%;
  }

  & > .col2 {
    width: 50%;
  }
}

.col-2-60per {
  & > .col1 {
    width: 60%;
  }

  & > .col2 {
    width: 40%;
  }
}

.col-3-33per {
  & > .col1 {
    width: 33%;
  }

  & > .col2 {
    width: 34%;
  }

  & > .col3 {
    width: 33%;
  }
}

.col-4-25per {
  & > .col1 {
    width: 24.5%;
  }

  & > .col2 {
    width: 25.5%;
  }

  & > .col3 {
    width: 25.5%;
  }

  & > .col4 {
    width: 24.5%;
  }
}

// TABLE
.w-5per {
  width: 5%;
}

.w-10per {
  width: 10%;
}

.w-15per {
  width: 10%;
}

.w-20per {
  width: 20%;
}

.w-30per {
  width: 30%;
}

.w-40per {
  width: 40%;
}

.w-50per {
  width: 50%;
}

.w-60per {
  width: 60%;
}

.w-65per {
  width: 65%;
}

.w-70per {
  width: 70%;
}

.w-80per {
  width: 80%;
}

.w-90per {
  width: 90%;
}

.w-100per {
  width: 100%;
}

// BUTTON
.btn_wrap {
  font-size: 1.375em;
  margin: 0 0 1em 0;
}

.btn {
  padding: 0.6em 1em;
  min-width: 9.5em;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
}

.btn1 {
  background-color: #75849a;
}

.btn2 {
  background-color: #bac1cc;
}

.btn3 {
  background-color: #9ca3ae;
}

.btn4 {
  color: #ff6600;
  background-color: #fff;
  border: 1px solid #ff6600;

  &.btn-arrow {
    text-align: left;

    &::after {
      content: '';
      display: block;
      float: right;
      margin: 0 0 0 1em;
      width: 2.3em;
      height: 1.3em;
      background-image: url(../../resources/images/common/btn_arrow_move_orange.png);
    }
  }

  &:hover, &:focus {
    color: #fff;
    background-color: #ff6600;

    &::after {
      background-image: url(../../resources/images/common/btn_arrow_move_orange_hover.png);
    }
  }
}

.btn-arrow {
  text-align: left;

  &::after {
    content: '';
    display: block;
    float: right;
    margin: 0 0 0 1em;
    width: 1.4em;
    height: 1.3em;
    background-image: url(../../resources/images/common/btn_arrow_move.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.btn-download {
  border: 1px solid #e9e9e9;
  color: #666;
  font-weight: 400;
  background-color: #fff;
  text-align: left;

  &.icon-right {
    &::before {
      float: right;
      margin-left: 1em;
      margin: 0.2em 0 0 1em;
    }
  }

  &::before {
    content: '';
    display: block;
    float: left;
    margin: 0.2em 1em 0 0;
    width: 20px;
    height: 18px;
    background-image: url(../../resources/images/ico_file.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.board_item_btn {
  overflow: hidden;

  .btn {
    float: left;
    padding: 0.875em;
    margin: 0 0 0 2px;
    min-width: 6.6em;

    &:first-of-type {
      margin: 0;
    }
  }
}

// BOARD MARK
.board_mark {
  display: inline-block;
  padding: 0.5em 2em;
  min-width: 6.75em;
  // height: 34px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background-color: #ff6600;

  &.closed {
    background-color: #787878;
  }
}

.board_mark_small {
  display: inline-block;
  padding: 0.3em 0.6em;
  min-width: 3.43em;
  font-size: 0.875em;
  text-align: center;
  background-color: #fff;
  color: #ff3622;
  border: 1px solid #ff9854;

  &.free { 
    color: #777;
    border: 1px solid #a2adbb;
  }
}

// BOARD
.board_items {
  width: 100%;
  max-height: 500px;
  border: 1px solid #e9e9e9;
}

.board_item {
  position: relative;

  &:nth-of-type(2n-1) {
    background-color: #f9f9f9;
  }

  .board_item_title {
    position: absolute;
    top: 50%;
    left: 2.5em;
    transform: translate(0,-50%);

    span {
      color: #888;
    }

    h4 {
      color: #333;
      font-size: 1.375em;
      letter-spacing: -0.1em;
    }
  }

  .board_item_date {
    padding: 3.25em 16em 3.25em 20em;
    color: #555;
    letter-spacing: 0;
  }

  .board_item_btn {
    position: absolute;
    top: 50%;
    right: 2.5em;
    transform: translate(0,-50%);
  }
}

.board_list {
  width: 100%;
  border-top: 2px solid #92959b;
  table-layout: fixed;

  thead tr th {
    height: 46px;
    border-bottom: 1px solid #d0d0d0;
  }

  tbody tr {
    &.fixed {
      td {
        &:first-of-type {
          color: #ff5c1c;
          font-weight: 700;
        }
      }
    }
  }

  tbody tr td {
    position: relative;
    height: 62px;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
    padding: 0 10px;

    &.td-left {
      text-align: left;
    }

    &.td-right {
      text-align: right;
    }

    &.td-center {
      text-align: center;
    }

    .board__title {
      max-width: 100%;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.board_pagination {
  width: 100%;
  margin: 2em 0;
  text-align: center;

  [class*='board__btn__'] {
    width: 1em;
    height: 1em;
    margin: 0 0.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .board__btn__first {
    background-image: url(../../resources/images/board_btn_first.png);
  }
  
  .board__btn__prev {
    background-image: url(../../resources/images/board_btn_prev.png);
  }
  
  .board__btn__next {
    background-image: url(../../resources/images/board_btn_next.png);
  }
  
  .board__btn__last {
    background-image: url(../../resources/images/board_btn_last.png);
  }
}

.board__page {
  display: inline-block;
  padding: 0.5em 0.9em;
  border-radius: 50%;

  &.current {
    color: #fff;
    background-color: #9ca3ae;
  }
}

.board_search {
  position: relative;
  max-width: 27.5em;
  height: 2.85em;
  margin: 0 auto;
  padding: 0 3em 0 7em;

  [class*='board__search__'] {
    display: block;
    float: left;
    height: 100%;
  }

  .board__search__select {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 1.375em; 
    width: 7em;
    color: #888;
    border: 1px solid #dbdbdb;
    border-right: 0;
    background-image: url(../../resources/images/search_arrow.png);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: right 1em center;
  }

  .board__search__word {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #dbdbdb;
    border-right: 0;
  }

  .board__search__btn {
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #75849a;
    background-image: url(../../resources/images/search_btn.png);
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    background-position: center;
  }
}

.board_tabs {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2.5em;

  &.tab-1 .board_tab {
    width:  100%;
  }

  &.tab-2 .board_tab {
    width: 50%;
  }

  &.tab-3 .board_tab {
    width: 33.3333%;
  }

  &.tab-4 .board_tab {
    width: 25%;
  }

  &.tab-5 .board_tab {
    width: 20%;
  }

  &.tab-6 .board_tab {
    width: 16.6666%;
  }
}

.board_tab {
  display: block;
  float: left;
  height: 100%;
  padding: 0.9em 0.2em;
  font-size: 1.125em;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  border-right: 0;

  &:last-of-type {
    border-right: 1px solid #d4d4d4;
  }

  &.active {
    background-color: #ff6600;
    color: #fff;
  }
}

.ico_file {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  width: 1.25em;
  height: 1.25em;
  background-image: url(../../resources/images/ico_file.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 1200px) {
  .board_tabs {
    &.tab-5 .board_tab {
      width: 33.3333%;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-bottom: 0;
      }
      
      &:nth-of-type(3) {
        border-right: 1px solid #d4d4d4;
      }
    }

    &.tab-6 .board_tab {
      width: 33.3333%;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-bottom: 0;
      }

      &:nth-of-type(3) {
        border-right: 1px solid #d4d4d4;
        border-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .board_item {
    .board_item_title {
      position: static;
      transform: translate(0,0);
      padding: 2.5em 16em 0 2.5em;
    }

    .board_item_date {
      padding: 1em 16em 2.5em 2.5em;
    }
  }
}

@media screen and (max-width: 480px)  {
  .board_item {
    .board_item_title {
      padding: 2.5em 1em 0 2.5em;
    }

    .board_item_date {
      padding: 1em 1em 0em 2.5em;
    }

    .board_item_btn {
      position: static;
      transform: translate(0,0);
      padding: 1em 1em 2.5em 2.5em;
    }
  }

  .board_list {
    .mobile-none {
      display: none;
    }
  }
}
