@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    body  {
        font-size: 12px;
    }
}

/*** SpoqaHanSansNeo ***/
@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: url('../../resources/font/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('../../resources/font/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('../../resources/font/SpoqaHanSansNeo-Regular.ttf') format('truetype'),
        url('../../resources/font/SpoqaHanSansNeo-Regular.otf') format('opentype'),
        url('../../resources/font/SpoqaHanSansNeo-Regular.eot') format('embedded-opentype');
}