@import url(/resources/css/font.css);

.header,
.container,
.footer {
    width: 100%;
}

.innerbox {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

// PC
.header {
  position: fixed;
  z-index: 2;
  padding: 0 20em;
  height: 5.8125em;
  background-color: #fff;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    position: absolute;
    top: 5.8125em;
    left: 0;
  }

  button[class*='btn_'] {
    width: 42px;
    height: 24px;
    background-image: url(/resources/images/main/header_menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .btn_sitemap {
    margin: 0 0 0 2em;
  }

  .btn_mobilemenu {
    display: none;
  }

  &.open {
    height: 500px;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.12);

    &::before {
      content: '';
      display: block;
      width: 20em;
      height: 16.25em;
      background-image: url(/resources/images/main/header_bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      top: 10.75em;
      left: 0;
    }

    .lnb_depth2_wrap {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 5.8125em;
      display: block;
      width: 100%;
      height: 100%;
      line-height: initial;
    }
  }
}

.header_logo {
  position: absolute;
  top: 1.875em;
  left: 3em;
  width: 15.875em;

  a {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

.header_navbar {
  margin: 0 auto;
  max-width: 75em;
  height: 100%;

  .lnb {
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .lnb_depth1 {
    position: relative;
    display: block;
    float: left;
    width: 14.28571428571429%;
    height: 100%;
    font-weight: 700;
    letter-spacing: -0.05em;
    text-align: center;

    & > a {
      font-size: 1.3125em;
      line-height: 4.425em;
    }

    &.active {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 5.8125em;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 4px;
        background-color: #ff6c13;
      }
    }

    &:hover {
      .lnb_depth2_wrap > ul {
        background-color: #f5f5f5;
      }
    }
  }

  .lnb_depth2_wrap {
    display: none;

    & > ul {
      padding: 1em;
      height: 100%;
      border-right: 1px solid #eee;
      text-align: left;
    }

    &:first-of-type > ul {
      border-left: 1px solid #eee;
    }
  }

  .lnb_depth2 {
    padding: 0.6em 0;
    // font-size: 0.8em;
    color: #666;

    & > a {
      &:hover, &:focus {
        color: #ff6600;
      }
    }
  }
}

.header_gnb {
  position: absolute;
  top: 0;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.8125em;

  a {
    padding: 0 0.5em;
    font-size: 0.9375em;
    color: #666;
  }
}

.footer {
  padding: 4em 0;
  color: #fff;
  text-align: center;
  background-color: rgba($color: #4a4f5a, $alpha: 0.9);
}

.footer_link {
  margin: 0 auto;

  .footer__logo {
    display: inline-block;
    width: 258px;
    height: 38px;
    opacity: 0.8;
    vertical-align: middle;
  }

  .footer__sns {
    display: inline-block;
    width: 176px;
    margin: 0 0 4px 20px;
    vertical-align: middle;

    li {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      margin-left: 4px;
      border-radius: 50%;
      border: 1px solid #dddddd;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:nth-of-type(1) {
        margin: 0;
        background-image: url(/resources/images/main/ico_sns_facebook.png);
      }

      &:nth-of-type(2) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(3) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(4) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(5) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
    }
  }
}

.footer_util {
  margin: 2em 0 0;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  li {
    display: inline-block;
    margin: 0 1em;

    a {
      color: #fff;
      font-size: 0.9375em;
      letter-spacing: -0.1em;
    }
  }
}

.footer_address {
  margin: 1.4em 0 0.2em 0;
  color: #c8c8c8;
  font-size: 0.875em;
}

.footer_copyright {
  color: #c8c8c8;
  font-size: 0.75em;
  letter-spacing: -0.05em;
}


@media screen and (max-width: 1600px) {
  .header_navbar .lnb_depth1 > a {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1440px) {
  .header_navbar .lnb_depth1 > a {
    font-size: 1em;
    line-height: 5.8125em;
  }

  .header_gnb a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0;

    .btn_mobilemenu {
      display: inline-block;
      position: absolute;
      top: 2.15625em;
      right: 1em;
    }
  }

  .header_logo {
    left: 1em;
  }

  .header_navbar {
    display: none;
  }

  .header_gnb {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .innerbox {
    padding: 0 1em;
  }
}

@media screen and (max-width: 1024px) {
  /*태블릿*/
}

// 모바일
@media screen and (max-width: 720px) {
  .footer_util {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .footer_link {
    width: 100%;

    .footer__logo {
      width: 100%;
    }

    .footer__sns {
      margin: 1em 0 0;

      li {
        display: inline-block;
      }
    }
  }
}
