@import url(/resources/css/font.css);

.header,
.container,
.footer {
    width: 100%;
}

.innerbox {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

// PC
.header {
  position: fixed;
  z-index: 1;
  padding: 0 20em;
  height: 5.8125em;
  background-color: #fff;

  .header_logo {
    position: absolute;
    top: 1.875em;
    left: 3em;
    width: 15.875em;

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

  .header_navbar {
    margin: 0 auto;
    max-width: 75em;
    height: 100%;

    .lnb {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 100%;

      .depth1_wrap {
        position: relative;
        display: inline-block;
        height: 100%;
        padding: 0 1em;
        font-size: 1.3125em;
        line-height: 5em;
        font-weight: 700;
        letter-spacing: -0.05em;

        .depth1.active {
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #ff6c13;
          }
        }
      }
    }
  }

  .gnb {
    position: absolute;
    top: 0;
    right: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    a {
      padding: 0 0.5em;
      font-size: 0.9375em;
      color: #666;
    }
  }

  button[class*='btn_'] {
    width: 42px;
    height: 24px;
    background-image: url(/resources/images/main/header_menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .btn_sitemap {
    margin: 0 0 0 2em;
  }

  .btn_mobilemenu {
    display: none;
  }
}

.footer {
  padding: 4em 0;
  color: #fff;
  text-align: center;
  background-color: rgba($color: #4a4f5a, $alpha: 0.9);
}

.footer_link {
  width: 454px;
  margin: 0 auto;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .footer__logo {
    display: block;
    float: left;
    width: 258px;
    height: 38px;
    opacity: 0.8;
  }

  .footer__sns {
    display: block;
    float: left;
    width: 176px;
    margin-left: 20px;

    li {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      margin-left: 4px;
      border-radius: 50%;
      border: 1px solid #dddddd;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      &:nth-of-type(1) {
        margin: 0;
        background-image: url(/resources/images/main/ico_sns_facebook.png);
      }

      &:nth-of-type(2) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(3) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(4) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
      &:nth-of-type(5) {background-image: url(/resources/images/main/ico_sns_facebook.png);}
    }
  }
}

.footer_util {
  margin: 2em 0 0;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  li {
    display: inline-block;
    margin: 0 1em;

    a {
      color: #fff;
      font-size: 0.9375em;
      letter-spacing: -0.1em;
    }
  }
}

.footer_address {
  margin: 1.4em 0 0.2em 0;
  color: #c8c8c8;
  font-size: 0.875em;
}

.footer_copyright {
  color: #c8c8c8;
  font-size: 0.75em;
  letter-spacing: -0.05em;
}


@media screen and (max-width: 1600px) {
  .header .header_navbar .lnb .depth1_wrap {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 1440px) {
  .header .header_navbar .lnb .depth1_wrap {
    font-size: 1em;
    line-height: 5.8125em;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0;

    .header_logo {
      left: 1em;
    }

    .header_navbar, .gnb {
      display: none;
    }

    .btn_mobilemenu {
      display: inline-block;
      position: absolute;
      top: 2.15625em;
      right: 1em;
    }
  }

  .footer_util {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .innerbox {
    padding: 0 1em;
  }
}

// 태블릿
@media screen and (max-width: 1024px) {
  
}

// 모바일
@media screen and (max-width: 720px) {
  .main_visual .main_visual_image .main_visual_title {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 640px) {
  .footer_link {
    width: 100%;

    .footer__logo {
      width: 100%;
      clear: both;
    }

    .footer__sns {
      clear: both;
      width: 100%;
      margin: 1em 0 0;
      text-align: center;

      li {
        display: inline-block;
      }
    }
  }
}
