@charset "UTF-8";
@import url(/resources/css/font.css);
.header,
.container,
.footer {
  width: 100%;
}

.innerbox {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.innerbox::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header {
  position: fixed;
  z-index: 2;
  padding: 0 20em;
  height: 5.8125em;
  background-color: #fff;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
  position: absolute;
  top: 5.8125em;
  left: 0;
}
.header button[class*=btn_] {
  width: 2.625em;
  height: 2.625em;
  background-image: url(/resources/images/common/header_menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header .btn_sitemap {
  margin: 0 0 0 2em;
}
.header .btn_mobilemenu {
  display: none;
}

.header_logo {
  position: absolute;
  top: 1.875em;
  left: 3em;
  width: 15.875em;
}
.header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header_logo a img {
  width: 100%;
}

.header_navbar {
  margin: 0 auto;
  max-width: 75em;
  height: 100%;
}
.header_navbar .lnb {
  width: 100%;
  height: 100%;
}
.header_navbar .lnb_depth1 {
  position: relative;
  display: block;
  float: left;
  width: 14.2857142857%;
  height: 100%;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: center;
}
.header_navbar .lnb_depth1 > a {
  font-size: 1.3125em;
  line-height: 4.425em;
}
.header_navbar .lnb_depth1.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 5.8125em;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4px;
  background-color: #ff6c13;
}
.header_navbar .lnb_depth1:hover .lnb_depth2_wrap > ul {
  background-color: #f5f5f5;
}
.header_navbar .lnb_depth2_wrap {
  display: none;
}
.header_navbar .lnb_depth2_wrap > ul {
  padding: 1.8em 1em;
  height: 100%;
  border-right: 1px solid #eee;
  text-align: left;
}
.header_navbar .lnb_depth2_wrap:first-of-type > ul {
  border-left: 1px solid #eee;
}
.header_navbar .lnb_depth2 {
  padding: 0.5em 0;
  color: #666;
}
.header_navbar .lnb_depth2 > a {
  font-size: 1.05em;
  letter-spacing: -0.075em;
}
.header_navbar .lnb_depth2 > a:hover, .header_navbar .lnb_depth2 > a:focus {
  color: #ff6600;
}
.header_navbar .lnb_depth2 > ul {
  padding: 1em 0 0.5em;
}
.header_navbar .lnb_depth3 {
  padding: 0.1em 0;
}
.header_navbar .lnb_depth3 > a {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: -0.1em;
}
.header_navbar .lnb_depth3 > a::before {
  content: "-";
  display: inline-block;
  margin: 0 0.25em 0 0;
}
.header_navbar .lnb_depth3 > a:hover, .header_navbar .lnb_depth3 > a:focus {
  color: #ff6600;
  border-bottom: 1px solid #ff6600;
}
.header_navbar .gnb {
  position: absolute;
  top: 0;
  right: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.8125em;
}
.header_navbar .gnb a {
  padding: 0 0.5em;
  font-size: 0.9375em;
  color: #666;
}

.mobile_menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 540px;
  max-width: 100%;
  height: 100vh;
  padding-top: 5.8125em;
  background-color: #fff;
}
.mobile_menu .menu_items {
  height: 100%;
  overflow-y: scroll;
}
.mobile_menu .menu_item {
  position: relative;
  padding: 2em;
  overflow: hidden;
  transition: 0.3s;
}
.mobile_menu .menu_item .menu__depth1 {
  float: left;
  width: 6em;
  font-size: 1.5em;
  font-weight: 700;
  color: #666666;
  text-align: left;
}
.mobile_menu .menu_item .menu__depth1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e3e4e5;
  position: absolute;
  bottom: 0;
  left: 0;
}
.mobile_menu .menu_item .menu__depth2 {
  display: none;
  float: left;
}
.mobile_menu .menu_item .menu__depth2 > li {
  padding: 0 0 1em;
}
.mobile_menu .menu_item .menu__depth2 > li > a {
  font-size: 1.5em;
  font-weight: 700;
  color: #666;
}
.mobile_menu .menu_item .menu__depth2 > li > a:hover, .mobile_menu .menu_item .menu__depth2 > li > a:focus {
  color: #ff6600;
}
.mobile_menu .menu_item .menu__depth3 > li {
  padding: 0.5em 0 0;
}
.mobile_menu .menu_item .menu__depth3 > li > a {
  font-size: 1.25em;
  font-weight: 400;
  color: #666;
}
.mobile_menu .menu_item .menu__depth3 > li > a::before {
  content: "-";
  display: inline-block;
  margin: 0 0.25em 0 0;
}
.mobile_menu .menu_item .menu__depth3 > li > a:hover, .mobile_menu .menu_item .menu__depth3 > li > a:focus {
  color: #ff6600;
}
.mobile_menu .menu_item.on {
  max-height: 600px;
  background-color: #f7f7f7;
}
.mobile_menu .menu_item.on .menu__depth2 {
  display: block;
}
.mobile_menu + .mobile_menu_shadow {
  display: none;
}

.footer {
  padding: 4em 0;
  color: #fff;
  text-align: center;
  background-color: rgba(74, 79, 90, 0.9);
}

.footer_link {
  margin: 0 auto;
}
.footer_link .footer__logo {
  display: inline-block;
  width: 258px;
  height: 38px;
  opacity: 0.8;
  vertical-align: middle;
}
.footer_link .footer__sns {
  display: inline-block;
  width: 176px;
  margin: 0 0 4px 20px;
  vertical-align: middle;
}
.footer_link .footer__sns li {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin-left: 4px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer_link .footer__sns li:nth-of-type(1) {
  margin: 0;
  background-image: url(/resources/images/main/ico_sns_facebook.png);
}
.footer_link .footer__sns li:nth-of-type(2) {
  background-image: url(/resources/images/main/ico_sns_facebook.png);
}
.footer_link .footer__sns li:nth-of-type(3) {
  background-image: url(/resources/images/main/ico_sns_facebook.png);
}
.footer_link .footer__sns li:nth-of-type(4) {
  background-image: url(/resources/images/main/ico_sns_facebook.png);
}
.footer_link .footer__sns li:nth-of-type(5) {
  background-image: url(/resources/images/main/ico_sns_facebook.png);
}

.footer_util {
  margin: 2em 0 0;
}
.footer_util::after {
  content: "";
  display: block;
  clear: both;
}
.footer_util li {
  display: inline-block;
  margin: 0 1em;
}
.footer_util li a {
  color: #fff;
  font-size: 0.9375em;
  letter-spacing: -0.1em;
}

.footer_address {
  margin: 1.4em 0 0.2em 0;
  color: #c8c8c8;
  font-size: 0.875em;
}

.footer_copyright {
  color: #c8c8c8;
  font-size: 0.75em;
  letter-spacing: -0.05em;
}

@media screen and (max-width: 1600px) {
  .header_navbar .lnb_depth1 > a {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1440px) {
  .header_navbar .lnb_depth1 > a {
    font-size: 1em;
    line-height: 5.8125em;
  }
  .header_navbar .gnb a {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1280px) {
  .header.open {
    height: 540px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  }
  .header.open::before {
    content: "";
    display: block;
    width: 20em;
    height: 16.25em;
    background-image: url(/resources/images/main/header_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 10.75em;
    left: 0;
  }
  .header.open .lnb_depth2_wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5.8125em;
    display: block;
    width: 100%;
    height: 100%;
    line-height: initial;
  }
}
@media screen and (max-width: 1280px) {
  .innerbox {
    padding: 0 1em;
  }
  .header {
    padding: 0;
  }
  .header .btn_sitemap {
    display: none;
  }
  .header .btn_mobilemenu {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translate(0, -50%);
  }
  .header .btn_mobilemenu.close {
    background-image: url(/resources/images/common/btn_close.png);
  }
  .header_logo {
    left: 1em;
  }
  .header_navbar .lnb, .header_navbar .gnb {
    display: none;
  }
  .mobile_menu.open {
    display: block;
    transition: 0.3s;
  }
  .mobile_menu.open + .mobile_menu_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  }
}
@media screen and (max-width: 1024px) {
  /*태블릿*/
}
@media screen and (max-width: 720px) {
  .mobile_menu .menu_item .menu__depth1 {
    font-size: 2em;
  }
  .mobile_menu .menu_item .menu__depth2 > li > a {
    font-size: 1.8em;
  }
  .footer_util {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .footer_link {
    width: 100%;
  }
  .footer_link .footer__logo {
    width: 100%;
  }
  .footer_link .footer__sns {
    margin: 1em 0 0;
  }
  .footer_link .footer__sns li {
    display: inline-block;
  }
}
@media screen and (max-width: 414px) {
  .mobile_menu .menu_item .menu__depth1 {
    font-size: 1.75em;
  }
  .mobile_menu .menu_item .menu__depth2 > li > a {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 360px) {
  .mobile_menu .menu_item .menu__depth2 {
    width: 100%;
    padding: 1em 2em;
    transition: 0.3s;
  }
}