.main_visual {
  width: 100%;
  height: 44.25em;
}

.main_visual_body {
  position: relative;
  width: 100%;
  height: 100%;
}

.main_visual_items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.main_visual_items .slick-list, .main_visual_items .slick-track, .main_visual_items .slick-slide {
  height: 100%;
}
.main_visual_items .slick-list > div, .main_visual_items .slick-track > div, .main_visual_items .slick-slide > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_visual_items .slick-dots {
  bottom: 2.5em;
}

.main_visual_item {
  height: 100%;
}
.main_visual_item [class*=main_visual_image] {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_visual_item [class*=main_visual_image] .main_visual_title {
  position: relative;
  top: 40%;
  width: 100%;
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: -0.1em;
  color: #3d3d3d;
}
.main_visual_item [class*=main_visual_image] .main_visual_title br {
  display: none;
}
.main_visual_item [class*=main_visual_image] .main_visual_more {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  padding: 0.6em 3.25em 0.5em 1.45em;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 2px;
  background-image: url(/resources/images/main/arrow_more.png);
  background-color: rgba(117, 132, 154, 0.6);
  background-repeat: no-repeat;
  background-position: top 1em right 0.8em;
}
.main_visual_item .main_visual_image1 {
  background-image: url(/resources/images/main/main_visual_1.png);
}
.main_visual_item .main_visual_image2 {
  background-image: url(/resources/images/main/main_visual_2.gif);
}
.main_visual_item .main_visual_image3 {
  background-image: url(/resources/images/main/main_visual_3.gif);
}
.main_visual_item .main_visual_image4 {
  background-image: url(/resources/images/main/main_visual_4.gif);
}

.main_board {
  height: 70px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.main_board .innerbox {
  height: 100%;
}
.main_board .board_item_wrap {
  position: relative;
  float: left;
  padding: 0 7em 0 6em;
  width: 50%;
  height: 100%;
}
.main_board .board_item_wrap > * {
  line-height: 70px;
}
.main_board .board_item_wrap .board_item_head {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.25em;
  letter-spacing: 0;
}
.main_board .board_item_wrap .board_item_title {
  width: 100%;
  display: inline-block;
  color: #666666;
  font-size: 1.06em;
  letter-spacing: -0.07em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_board .board_item_wrap .board_item_date {
  position: absolute;
  top: 0;
  right: 1.8em;
  color: #636363;
  font-size: 1em;
  letter-spacing: 0;
}

.main_quickmenu {
  background-color: #f4f4f4;
}

.guide_items {
  padding: 1em;
  width: 22.8em;
  margin: 2.75em 0;
  float: left;
  color: #fff;
  background-color: #75849a;
}
.guide_items .guide_item {
  width: 100%;
  overflow: hidden;
  margin: 0 0 7px 0;
}
.guide_items .guide_item:last-of-type {
  margin-bottom: 0;
}
.guide_items .guide_item dt {
  float: left;
  width: 5.25em;
  height: 1.875em;
  line-height: 1.875em;
  text-align: center;
  font-weight: 700;
  color: #3e5370;
  border-radius: 4px;
  background-color: #fff;
}
.guide_items .guide_item dd {
  float: left;
  padding: 0 0 0 1em;
}

.quickmenu_circle_items {
  width: 70%;
  height: 100%;
  margin: 2.75em 0;
  float: right;
  text-align: center;
}
.quickmenu_circle_items [class*=quickmenu_circle_item] {
  float: left;
  font-weight: 700;
  color: #666666;
}
.quickmenu_circle_items [class*=quickmenu_circle_item]::before {
  content: "";
  display: block;
  width: 7.875em;
  height: 7.875em;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.quickmenu_circle_items .quickmenu_circle_item1::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_1.png);
}
.quickmenu_circle_items .quickmenu_circle_item2::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_2.png);
}
.quickmenu_circle_items .quickmenu_circle_item3::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_3.png);
}
.quickmenu_circle_items .quickmenu_circle_item4::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_4.png);
}
.quickmenu_circle_items .quickmenu_circle_item5::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_5.png);
}
.quickmenu_circle_items .quickmenu_circle_item6::before {
  background-image: url(/resources/images/main/quickmenu_circle_item_6.png);
}

.main_event {
  padding: 4em 0;
}
.main_event .stt1 {
  margin: 0 0 0.8em 0;
  font-size: 2.125em;
  float: left;
}

.event_tab_head {
  float: right;
  padding: 0.5em 0;
}
.event_tab_head .event_tab_button {
  float: left;
  font-size: 1.125em;
  letter-spacing: -0.08em;
}
.event_tab_head .event_tab_button::before {
  content: "";
  display: block;
  float: left;
  width: 1px;
  height: 1em;
  margin: 2px 0.9em;
  background-color: #cfcfcf;
}
.event_tab_head .event_tab_button.first::before {
  content: "";
  display: none;
}
.event_tab_head .event_tab_button.active {
  font-weight: 700;
  color: #ff6600;
}

.event_tab_body {
  clear: both;
  overflow: hidden;
}

.event_items_wrap {
  display: none;
  width: 100%;
}
.event_items_wrap.active {
  display: block;
}

.event_items .slick-track {
  max-width: 1200px;
}
.event_items .slick-slide {
  width: 32%;
  margin-left: 2%;
}
.event_items .slick-slide:first-of-type {
  margin-left: 0;
}

.event_item {
  position: relative;
  padding: 15.375em 0 0;
  width: 32%;
  float: left;
  color: #fff;
}
.event_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15.375em;
}
.event_item .event_item_top {
  padding: 1.6em 2em 1.8em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: -0.14em;
}
.event_item .event_item_top strong {
  font-size: 1.375em;
  font-weight: 700;
}
.event_item .event_item_top p {
  margin-top: 0.5em;
  letter-spacing: -0.07em;
}
.event_item .event_item_bottom {
  padding: 2em 2em 1.8em;
}
.event_item .event_item_bottom dl {
  width: 100%;
  overflow: hidden;
  margin: 0 0 0.8em;
}
.event_item .event_item_bottom dt {
  float: left;
  margin: 0 1.8em 0 0;
}
.event_item .event_item_bottom dd {
  float: left;
}
.event_item .event_item_bottom dd strong {
  font-weight: 700;
}

.event_item1 {
  background-color: #ffba00;
  margin-left: 0;
}

.event_item2 {
  background-color: #f9554f;
}

.event_item3 {
  background-color: #149639;
}

.main_exhibit {
  padding: 5em 0;
  height: 37.875em;
  color: #fff;
  background-image: url(/resources/images/main/main_exhibit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_exhibit .stt1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.1875em;
}

.exhibit_items {
  overflow: hidden;
}
.exhibit_items .exhibit_item {
  display: none;
}
.exhibit_items .exhibit_item.active {
  display: block;
}
.exhibit_items .exhibit_item .exhibit_item_detail {
  float: left;
  padding-top: 2.4em;
  width: 32.5%;
}
.exhibit_items .exhibit_item .exhibit_item_detail h3 {
  font-size: 2.25em;
  font-weight: 700;
}
.exhibit_items .exhibit_item .exhibit_item_detail p {
  padding: 1.6em 0 0;
  font-size: 1.06em;
  line-height: 1.6em;
  letter-spacing: -0.045em;
}
.exhibit_items .exhibit_item .exhibit_item_img {
  float: right;
  width: 55.8333333333%;
  height: 0;
  padding-bottom: 37%;
  background-color: #75849a;
}

.main_collection {
  padding: 4em 0;
}
.main_collection .stt1 {
  margin: 0 0 0.8em 0;
  font-size: 2.125em;
}

.collection_items .collection_item {
  float: left;
  width: 23.5%;
}
.collection_items .collection_item + .collection_item {
  margin-left: 2%;
}
.collection_items .collection_item .collection_item_img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 1em;
  background-color: #75849a;
}
.collection_items .collection_item .collection_item_title {
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.6em;
}
.collection_items .collection_item .collection_item_detail {
  color: #5f5f5f;
}

.main_banner {
  padding: 2em 0;
  border-top: 1px solid #dfdfdf;
}
.main_banner .innerbox {
  padding: 0 21em 0 8.25em;
}
.main_banner .stt1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0;
}

.banner_items_multi .banner_item {
  display: block;
  float: left;
  margin-left: 8px;
  width: 135px;
  height: 44px;
  border: 1px solid #dddddd;
}
.banner_items_multi .banner_item:first-of-type {
  margin: 0;
}
.banner_items_multi .banner_item img {
  width: 100%;
}

.banner_items_uni {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.banner_items_uni .banner_item {
  display: inline-block;
  width: 262px;
  height: 80px;
  border: 1px solid #dddddd;
}
.banner_items_uni .banner_item img {
  width: 100%;
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
  .guide_items {
    width: 100%;
  }
  .guide_items .guide_item {
    width: initial;
    float: left;
    margin: 0;
    margin-left: 1em;
  }
  .guide_items .guide_item:first-of-type {
    margin: 0;
  }
  .quickmenu_circle_items {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  .guide_items {
    margin: 0;
  }
  .event_items .slick-track {
    max-width: 100%;
  }
  .event_items .slick-slide {
    width: 32%;
  }
  .main_exhibit .stt1 {
    left: 1em;
  }
}
@media screen and (max-width: 720px) {
  .main_visual {
    height: 41.67em;
  }
  [class*=main_visual_image] .main_visual_title {
    font-size: 3.2em;
  }
  .main_board .board_item_wrap {
    width: 100%;
    padding: 0 10em 0 8em;
  }
  .main_board .board_item_wrap:last-of-type {
    display: none;
  }
  .main_board .board_item_wrap .board_item_head {
    font-size: 1.73em;
  }
  .main_board .board_item_wrap .board_item_title {
    font-size: 1.885em;
  }
  .main_board .board_item_wrap .board_item_date {
    right: 0;
    font-size: 2em;
  }
  .guide_items {
    padding: 2.5em;
    width: 100%;
    clear: both;
  }
  .guide_items .guide_item {
    margin-bottom: 12px;
  }
  .guide_items .guide_item dt {
    font-size: 2em;
  }
  .guide_items .guide_item dd {
    font-size: 2.25em;
  }
  .guide_items .guide_item dd br {
    display: none;
  }
  .quickmenu_circle_items {
    width: 100%;
    clear: both;
  }
  .quickmenu_circle_items [class*=quickmenu_circle_item] {
    font-size: 2em;
    font-weight: 400;
  }
  .quickmenu_circle_items [class*=quickmenu_circle_item]::before {
    width: 5.75em;
    height: 5.75em;
  }
  .main_event {
    padding: 2em 0;
  }
  .event_tab_button {
    display: none;
  }
  .event_items_wrap {
    padding-bottom: 3em;
  }
  .event_items .slick-track {
    max-width: initial;
  }
  .event_items .slick-slide {
    margin-left: 0;
  }
  .event_item {
    width: 100%;
  }
  .collection_items .collection_item {
    display: none;
    width: 49%;
  }
  .collection_items .collection_item:nth-of-type(1), .collection_items .collection_item:nth-of-type(2) {
    display: block;
  }
  .main_banner {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .main_visual [class*=main_visual_image] .main_visual_title {
    font-size: 2.6em;
  }
  .main_visual [class*=main_visual_image] .main_visual_title br {
    display: block;
  }
  .quickmenu_circle_items [class*=quickmenu_circle_item] {
    font-size: 1.6em;
  }
}