// 메인비주얼
.main_visual {
  width: 100%;
  height: 44.25em;
}

.main_visual_body {
  position: relative;
  width: 100%;
  height: 100%;

  [class*='btn_slide_'] {
    width: 16px;
    height: 16px;
    bottom: 2.5em;
    left: 50%;
    transform: translate(5em,0);
  }

  .btn_slide_pause {
    background-image: url(/resources/images/common/main_visual_pause.png);
  }

  .btn_slide_play {
    background-image: url(/resources/images/common/main_visual_play.png);
  }
}

.main_visual_items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;

  .slick-list, .slick-track, .slick-slide {
    height: 100%;

    & > div {
      position: relative;
      width: 100%;
      height: 100%;

    }
  }

  .slick-dots {
    bottom: 2.5em;
  }
}

.main_visual_item {
  height: 100%;

  [class*='main_visual_image'] {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .main_visual_title {
      position: relative;
      top: 40%;
      width: 100%;
      font-size: 3.5em;
      font-weight: 300;
      letter-spacing: -0.1em;
      color: #3d3d3d;

      br {
        display: none;
      }
    }

    .main_visual_more {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,0);
      display: inline-block;
      padding: 0.6em 1em 0.5em 1.45em;
      color: #fff;
      font-size: 1.25em;
      font-weight: 700;
      border-radius: 2px;
      background-color: rgba($color: #75849a, $alpha: 0.6);

      &::after {
        content: '';
        display: inline-block;
        width: 1.7em;
        height: 1.1em;
        margin: 0 0 0 1em;
        vertical-align: middle;
        background-image: url(/resources/images/common/btn_arrow_move.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  .main_visual_image1 {
    background-image: url(/resources/images/main/main_visual_1.png);
  }

  .main_visual_image2 {
    background-image: url(/resources/images/main/main_visual_2.gif);
  }

  .main_visual_image3 {
    background-image: url(/resources/images/main/main_visual_3.gif);
  }

  .main_visual_image4 {
    background-image: url(/resources/images/main/main_visual_4.gif);
  }
}

// 게시판
.main_board {
  height: 70px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;

  .innerbox {
    height: 100%;
  }

  .board_item_wrap {
    position: relative;
    float: left;
    padding: 0 5em 0 6em;
    width: 48%;
    height: 100%;

    & > * {
      line-height: 70px;
    }

    &:last-of-type {
      margin-left: 4%;
    }

    .board_item_head {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.25em;
      letter-spacing: 0;
    }

    .board_item_title {
      width: 100%;
      display: inline-block;
      color: #666666;
      font-size: 1.06em;
      letter-spacing: -0.07em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .board_item_date {
      position: absolute;
      top: 0;
      right: 0;
      color: #636363;
      font-size: 1em;
      letter-spacing: 0;
    }
  }
}

// 퀵메뉴
.main_quickmenu {
  background-color: #f4f4f4;
}

.guide_items {
  padding: 1em;
  width: 30%;
  margin: 2.75em 0;
  float: left;
  color: #fff;
  background-color: #75849a;

  .guide_item {
    width: 100%;
    overflow: hidden;
    margin: 0 0 7px 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    dt {
      float: left;
      width: 5.25em;
      height: 1.875em;
      line-height: 1.875em;
      text-align: center;
      font-weight: 700;
      color: #3e5370;
      border-radius: 4px;
      background-color: #fff;
    }

    dd {
      float: left;
      padding: 0 0 0 1em;
    }
  }
}

.quickmenu_wrap {
  position: relative;
  width: 68%;
  height: 100%;
  margin: 2.75em 0;
  float: right;
  text-align: center;

  [class*='btn_'] {
    width: 2.25em;
    height: 3.25em;
    background-size: contain;
    top: 50%;
    transform: translate(0,-50%);
  }

  .btn_slide_prev {
    left: 0.5em;
    background-image: url(/resources/images/common/arrow_prev_slide.png);
  }

  .btn_slide_next {
    right: 0.5em;
    background-image: url(/resources/images/common/arrow_next_slide.png);
  }
}

.quickmenu_items {
  [class*='quickmenu_item'] {
    float: left;
    padding: 4px 0;
    font-weight: 700;
    color: #666666;
  
    &::before {
      content: '';
      display: block;
      width: 7.875em;
      height: 7.875em;
      margin: 0 auto 10px;
      border-radius: 50%;
      background-color: #fff;
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    &:hover {
      transition: transform 0.2s ease-out 0s;
      transform: translateY(-4px);
    }
  }
  
  .quickmenu_item1::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_1.png);
  }
  
  .quickmenu_item2::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_2.png);
  }
  
  .quickmenu_item3::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_3.png);
  }
  
  .quickmenu_item4::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_4.png);
  }
  
  .quickmenu_item5::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_5.png);
  }
  
  .quickmenu_item6::before {
    background-image: url(/resources/images/main/quickmenu_circle_item_6.png);
  }
}

// 교육/행사
.main_event {
  padding: 4em 0;

  .main_event_title {
    font-size: 2.125em;
    float: left;
  }
}

.event_tab_head {
  float: right;
  padding: 0.5em 0;
  padding-right: 2em;

  .event_tab_label {
    display: none;
  }
  
  .event_tab_button {
    float: left;
    font-size: 1.125em;
    letter-spacing: -0.08em;
  
    &::before {
      content: '';
      display: block;
      float: left;
      width: 1px;
      height: 1em;
      margin: 2px 0.9em;
      background-color: #cfcfcf;
    }
  
    &.first::before {
      content: '';
      display: none;
    }
  
    &.active {
      font-weight: 700;
      color: #ff6600;
    }
  }
}

.event_tab_body {
  clear: both;
  overflow: hidden;
}

.event_tabcon {
  display: none;
  width: 100%;
  margin: 1em 0 0;

  &.active {
    display: block;
  }
}

.event_items {
  .slick-track {
    max-width: 1200px;
  }

  .slick-slide {
    width: 32%;
    margin-left: 2%;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.event_item {
  position: relative;
  padding: 0;
  width: 32%;
  float: left; 
  color: #fff;

  .event_item_img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63.14432989690722%;
    overflow: hidden;
    background-color: #e8e8e8;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
    }
  }

  .event_item_top {
    position: relative;
    padding: 1.4em 2em;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
    letter-spacing: -0.14em;

    strong {
      font-size: 1.375em;
      font-weight: 700;
    }

    p {
      margin-top: 0.5em;
      padding-right: 3em;
      letter-spacing: -0.07em;
    }

    .btn_more {
      width: 2.5em;
      height: 1.5em;
      top: initial;
      bottom: 1.2em;
      right: 2em;
      color: #555;
      background-image: url(/resources/images/common/btn_arrow_move.png);
    }
  }

  .event_item_bottom {
    padding: 2em 2em 1.5em;

    dl {
      width: 100%;
      overflow: hidden;
      margin: 0 0 0.8em;
    }

    dt {
      float: left;
      margin: 0 1.8em 0 0;
    }

    dd {
      float: left;

      strong {
        font-weight: 700;
      }
    }
  }
}

.event_item1 {background-color: #ffba00; margin-left: 0;}
.event_item2 {background-color: #f9554f;}
.event_item3 {background-color: #149639;}

// 기획전시
.main_exhibit {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
  color: #fff;
  background-image: url(/resources/images/main/main_exhibit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .main_exhibit_title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1875em;
  }

  .innerbox {
    &::before {
      content: '';
      display: block;
      width: 35.5em;
      height: 19.25em;
      position: absolute;
      bottom: -5em;
      left: -4em;
      background-image: url(/resources/images/main/exhibit_bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .btn_more {
    display: none;
  }
}

.exhibit_items {
  overflow: hidden;

  .slick-dots {
    width: 30%;
    top: 0;
    bottom: initial;
    text-align: right;

    li {
      margin: 0 3px;
    }
  }

  .exhibit_item {
    .exhibit_item_title {
      font-size: 2.25em;
      font-weight: 700;
      float: left;
      padding: 1.2em 0 0;
      width: 35%;

      a {
        letter-spacing: -0.07em;

        &::after {
          content: '';
          display: inline-block;
          width: 38px;
          height: 20px;
          margin-left: 12px;
          background-image: url(/resources/images/common/btn_arrow_move.png);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }

    .exhibit_item_img {
      position: relative;
      float: right;
      right: 1em;
      width: 56%;
      height: 0;
      overflow: hidden;
      padding-bottom: 37.11044776119403%;
      background-color: #75849a;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
    }

    .exhibit_item_detail {
      padding: 2em 0 0;
      font-size: 1.06em;
      line-height: 1.6em;
      letter-spacing: -0.045em;
      float: left;
      width: 30%;
    }
  }
}

// 소장유물현황
.main_collection {
  padding: 4em 0;

  .main_collection_title {
    margin: 0 0 0.8em 0;
    font-size: 2.125em;
  }
}

.collection_items {
  .collection_item {
    display: block;
    float: left;
    width: 23.5%;

    & + .collection_item {
      margin-left: 2%;
    }

    .collection_item_img {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      margin-bottom: 1em;
      overflow: hidden;
      background-color: #75849a;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
    }

    .collection_item_title {
      font-size: 1.375em;
      font-weight: 700;
      line-height: 1.6em;
    }

    .collection_item_detail {
      color: #5f5f5f;
    }
  }
}

// 배너모음
.main_banner {
  padding: 1em 0;
  border-top: 1px solid #dfdfdf;

  .innerbox {
    padding: 0 22.6em 0 8.25em;
  }

  .main_banner_title {
    position: absolute;
    top: 1em;
    left: 0;
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.banner_items_multi_controllers {
  position: absolute;
  top: 2em;
  left: 0;

  [class*='btn_slide_'] {
    position: relative;

  }
}

.banner_items_multi {
  padding: 1em 0;

  .banner_item {
    float: left;
    border: 1px solid #dddddd;

    img {
      width: 100%;
    }
  }

  .slick-list {
    margin: 0 -4px;
  }

  .slick-slide {
    width: 135px;
    margin: 0 4px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.banner_items_uni_wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 326px;

  [class*='btn_slide_'] {
    top: 50%;
    transform: translate(0,-50%);
  }
  
  .btn_slide_prev {
    left: 0;
  }

  .btn_slide_next {
    right: 0;
  }
}

.banner_items_uni {
  margin-left: 32px;

  .banner_item {
    display: inline-block;
    width: 262px;
    height: 80px;
    border: 1px solid #dddddd;

    img {
      width: 100%;
    }
  }

  .slick-list {
    width: 262px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
  .guide_items {
    width: 100%;
    display: flex;
    justify-content: center;

    .guide_item {
      width: initial;
      margin: 0;
      margin-left: 1em;

      &:first-of-type {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .main_quickmenu {
    .innerbox {
      padding: 0;
      max-width: 100%;
    }
  }

  .guide_items {
    margin: 0;
  }

  .quickmenu_wrap {
    width: 100%;
    padding: 0 1em;
  }

  .event_items {
    .slick-track {
      max-width: 100%;
    }

    .slick-slide {
      width: 32%;
    }
  }

  .event_tab_head {
    padding-right: 1.5em;
  }

  .main_exhibit {
    .main_exhibit_title {
      left: 1em;
    }

    .innerbox::before {
      left: 0;
      width: 28em;
      height: 15.1830985915493em;
    }
  }

  .main_banner {
    .main_banner_title {
      left: 1em;
    }
  }

  .banner_items_multi_controllers {
    left: 1em;
  }

  .banner_items_uni_wrap {
    right: 1em;
  }
}

// 태블릿
@media screen and (max-width: 1024px) {
  .event_tab_head {
    position: relative;
    right: 1.5em;
    z-index: 1;
    padding: 0;
    width: 220px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-image: url(/resources/images/common/select_arrow.png);
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center right 1em;

    &.active ul {
      max-height: 500px;
      border: 1px solid #ddd;
      border-top: 0;
    }
    
    .event_tab_label {
      display: block;
      padding: 0 30px 0 15px;
      width: 100%;
      height: 100%;
      text-align: left;
      background: transparent;
    }

    ul {
      position: absolute; 
      top: 45px;
      left: 0;
      padding: 0;
      width: 100%;
      max-height: 0;
      color: #333;
      background: #fff;
      border-radius: 0 0 6px 6px;
      overflow: hidden;
      transition: .3s ease-in;
    }

    .event_tab_button {
      display: block;
      padding: 10px 15px;
      width: 100%;
      border-bottom: 1px solid #ddd;
      transition: .1s;

      &:hover {
        color: #fff;
        background: #ff6600;
      }

      &:last-of-type {
        border-bottom: 0 none;
      }

      &::before {
        content: none;
      }
    }
  }

  .main_exhibit {
    .innerbox::before {
      left: 6em;
      width: 25em;
      height: 13.55633802816902em;
    }
  }

  .exhibit_items {
    .slick-dots {
      width: 50%;
    }

    .exhibit_item {
      .exhibit_item_title {
        width: 50%;
      }

      .exhibit_item_img {
        width: 45%;
        padding-bottom: 29.82089552238806%;
      }

      .exhibit_item_detail {
        width: 50%;
      }
    }
  }

  .event_item {
    .event_item_top {
      padding: 1.4em;
    }

    .event_item_bottom {
      padding: 2em 1.4em 1.5em;
    }
  }
}

@media screen and (max-width: 820px) {
  .main_exhibit {
    .innerbox::before {
      width: 22em;
      height: 11.92957746478873em;
    }
  }

}

// 모바일
@media screen and (max-width: 720px) {
  .main_visual {
    height: 41.67em;
  }

  [class*='main_visual_image'] {
    .main_visual_title {
      font-size: 3.2em;
    }
  }

  .main_board .board_item_wrap {
    width: 100%;
    padding: 0 6em;
    font-size: 1.5em;

    &:last-of-type {
      display: none;
    }

    .board_item_date {
      right: 0;
    }
  }

  .guide_items {
    padding: 1.5em 1em;
    width: 100%;
    clear: both;
    
    .guide_item {
      margin-bottom: 12px;
      font-size: 1.8em;

      dt {
        width: 5em;
        font-weight: 400;
      }
  
      dd {
        padding-top: 0.2em;
        width: 74%;
  
        br {
          display: none;
        }
      }
    }
  }

  .quickmenu_wrap {
    padding: 0 3em;
  }

  .quickmenu_items {
    [class*='quickmenu_item'] {
      font-size: 2em;
      font-weight: 400;

      &::before {
        width: 5.75em;
        height: 5.75em;
      }
    }
  }

  .main_event {
    padding: 2em 0;

    .main_event_title {
      font-size: 3em;
    }
  }

  .event_tab_head {
    width: 100%;
    right: 0;
    margin: 1em 0 0;
  }

  .event_tabcon {
    padding-bottom: 3em;
  }

  .event_items {
    .slick-track {
      max-width: initial;
    }

    .slick-slide {
      margin-left: 0;
    }
  }

  .event_item {
    width: 100%;

    .event_item_top {
      strong {
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
      }

      .btn_more {
        bottom: 1.5em;
      }
    }

    .event_item_bottom {
      dl {
        font-size: 1.5em;
      }
    }
  }

  .main_exhibit {
    padding: 3em 0;

    .main_exhibit_title {
      font-size: 1.5em;
      left: 0.8em;
    }

    .innerbox::before {
      display: none;
    }

    .btn_more {
      display: block;
      top: 0;
    }
  }

  .exhibit_items {
    .slick-dots {
      position: static;
      width: 100%;
      text-align: center;
    }

    .exhibit_item {
      .exhibit_item_title {
        width: 100%;
        font-size: 3em;
      }
  
      .exhibit_item_detail {
        width: 100%;
        font-size: 1.375em;
      }
  
      .exhibit_item_img {
        right: 0;
        width: 100%;
        margin-top: 2em;
        padding-bottom: 66.26865671641791%;
      }
    }
  }

  .main_collection {
    .main_collection_title {
      font-size: 3em;
    }
  }

  .collection_items {
    .collection_item {
      display: none;
      width: 49%;

      &:nth-of-type(1), &:nth-of-type(2) {
        display: block;
      }
    }
  }

  .main_banner {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main_visual [class*='main_visual_image'] .main_visual_title {
    font-size: 2.6em;

    br {
      display: block;
    }
  }

  .quickmenu_items [class*='quickmenu_item'] {
    font-size: 1.6em;
  }

  .guide_items {
    font-size: 0.8em;
  }

  .event_item .event_item_top {
    padding: 1.4em 2em;
  }
}

@media screen and (max-width: 360px) {
  .guide_items .guide_item {
    dd {
      width: 100%;
      padding-left: 0.2em;
    }
  }
}