.main_visual {
  width: 100%;
  height: 44.25em;
}

.main_visual_body {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_visual_body [class*=btn_slide_] {
  width: 20px;
  height: 16px;
  bottom: 2.5em;
  left: 50%;
  transform: translate(5em, 0);
}
.main_visual_body .btn_slide_pause {
  background-image: url(../../resources/images/common/main_visual_pause.png);
}
.main_visual_body .btn_slide_play {
  background-image: url(../../resources/images/common/main_visual_play.png);
}

.main_visual_items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.main_visual_items .slick-list, .main_visual_items .slick-track, .main_visual_items .slick-slide {
  height: 100%;
}
.main_visual_items .slick-list > div, .main_visual_items .slick-track > div, .main_visual_items .slick-slide > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_visual_items .slick-dots {
  bottom: 2.5em;
}

.main_visual_item {
  height: 100%;
}
.main_visual_item [class*=main_visual_image] {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_visual_item [class*=main_visual_image] .main_visual_title {
  position: relative;
  top: 40%;
  width: 100%;
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: -0.1em;
  color: #3d3d3d;
}
.main_visual_item [class*=main_visual_image] .main_visual_title br {
  display: none;
}
.main_visual_item [class*=main_visual_image] .main_visual_more {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  padding: 0.6em 1em 0.5em 1.45em;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  border-radius: 2px;
  background-color: rgba(117, 132, 154, 0.6);
}
.main_visual_item [class*=main_visual_image] .main_visual_more::after {
  content: "";
  display: inline-block;
  width: 1.7em;
  height: 1.1em;
  margin: 0 0 0 1em;
  vertical-align: middle;
  background-image: url(../../resources/images/common/btn_arrow_move.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main_visual_item .main_visual_image1 {
  background-image: url(../../resources/images/main/main_visual_1.png);
}
.main_visual_item .main_visual_image2 {
  background-image: url(../../resources/images/main/main_visual_2.gif);
}
.main_visual_item .main_visual_image3 {
  background-image: url(../../resources/images/main/main_visual_3.gif);
}
.main_visual_item .main_visual_image4 {
  background-image: url(../../resources/images/main/main_visual_4.gif);
}

.main_board {
  height: 70px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
}
.main_board .innerbox {
  height: 100%;
}
.main_board .board_item_wrap {
  position: relative;
  float: left;
  padding: 0 5em 0 6em;
  width: 48%;
  height: 100%;
}
.main_board .board_item_wrap > * {
  line-height: 70px;
}
.main_board .board_item_wrap:last-of-type {
  margin-left: 4%;
}
.main_board .board_item_wrap .board_item_head {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.25em;
  letter-spacing: 0;
}
.main_board .board_item_wrap .board_item_title {
  width: 100%;
  display: inline-block;
  color: #666666;
  font-size: 1.06em;
  letter-spacing: -0.07em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_board .board_item_wrap .board_item_date {
  position: absolute;
  top: 0;
  right: 0;
  color: #636363;
  font-size: 1em;
  letter-spacing: 0;
}

.main_quickmenu {
  background-color: #f4f4f4;
}

.guide_items {
  padding: 1em;
  width: 30%;
  margin: 2.75em 0;
  float: left;
  color: #fff;
  background-color: #75849a;
}
.guide_items .guide_item {
  width: 100%;
  overflow: hidden;
  margin: 0 0 7px 0;
}
.guide_items .guide_item:last-of-type {
  margin-bottom: 0;
}
.guide_items .guide_item dt {
  float: left;
  width: 5.25em;
  height: 1.875em;
  line-height: 1.875em;
  text-align: center;
  font-weight: 700;
  color: #3e5370;
  border-radius: 4px;
  background-color: #fff;
}
.guide_items .guide_item dd {
  float: left;
  padding: 0 0 0 1em;
}

.quickmenu_wrap {
  position: relative;
  width: 68%;
  height: 100%;
  margin: 2.75em 0;
  float: right;
  text-align: center;
}
.quickmenu_wrap [class*=btn_] {
  width: 2.25em;
  height: 3.25em;
  background-size: contain;
  top: 50%;
  transform: translate(0, -50%);
}
.quickmenu_wrap .btn_slide_prev {
  left: 0.5em;
  background-image: url(../../resources/images/common/arrow_prev_slide.png);
}
.quickmenu_wrap .btn_slide_next {
  right: 0.5em;
  background-image: url(../../resources/images/common/arrow_next_slide.png);
}

.quickmenu_items [class*=quickmenu_item] {
  float: left;
  padding: 4px 0;
  font-weight: 700;
  color: #666666;
}
.quickmenu_items [class*=quickmenu_item]::before {
  content: "";
  display: block;
  width: 7.875em;
  height: 7.875em;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
.quickmenu_items [class*=quickmenu_item]:hover {
  transition: transform 0.2s ease-out 0s;
  transform: translateY(-4px);
}
.quickmenu_items .quickmenu_item1::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_1.png);
}
.quickmenu_items .quickmenu_item2::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_2.png);
}
.quickmenu_items .quickmenu_item3::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_3.png);
}
.quickmenu_items .quickmenu_item4::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_4.png);
}
.quickmenu_items .quickmenu_item5::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_5.png);
}
.quickmenu_items .quickmenu_item6::before {
  background-image: url(../../resources/images/main/quickmenu_circle_item_6.png);
}

.main_event {
  padding: 4em 0;
}
.main_event .main_event_title {
  font-size: 2.125em;
  float: left;
}

.event_tab_head {
  float: right;
  padding: 0.5em 0;
  padding-right: 2em;
}
.event_tab_head .event_tab_label {
  display: none;
}
.event_tab_head .event_tab_button {
  float: left;
  font-size: 1.125em;
  letter-spacing: -0.08em;
}
.event_tab_head .event_tab_button::before {
  content: "";
  display: block;
  float: left;
  width: 1px;
  height: 1em;
  margin: 2px 0.9em;
  background-color: #cfcfcf;
}
.event_tab_head .event_tab_button.first::before {
  content: "";
  display: none;
}
.event_tab_head .event_tab_button.active {
  font-weight: 700;
  color: #ff6600;
}

.event_tab_body {
  clear: both;
  overflow: hidden;
}

.event_tabcon {
  display: none;
  width: 100%;
  margin: 1em 0 0;
}
.event_tabcon.active {
  display: block;
}

.event_items .slick-track {
  max-width: 1200px;
}
.event_items .slick-slide {
  width: 32%;
  margin-left: 2%;
}
.event_items .slick-slide:first-of-type {
  margin-left: 0;
}

.event_item {
  position: relative;
  padding: 0;
  width: 32%;
  float: left;
  color: #fff;
}
.event_item .event_item_img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 63.1443298969%;
  overflow: hidden;
  background-color: #e8e8e8;
}
.event_item .event_item_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.event_item .event_item_top {
  position: relative;
  padding: 1.4em 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  letter-spacing: -0.14em;
}
.event_item .event_item_top strong {
  font-size: 1.375em;
  font-weight: 700;
}
.event_item .event_item_top p {
  margin-top: 0.5em;
  padding-right: 3em;
  letter-spacing: -0.07em;
}
.event_item .event_item_top .btn_more {
  width: 2.5em;
  height: 1.5em;
  top: initial;
  bottom: 1.2em;
  right: 2em;
  color: #555;
  background-image: url(../../resources/images/common/btn_arrow_move.png);
}
.event_item .event_item_bottom {
  padding: 2em 2em 1.5em;
}
.event_item .event_item_bottom dl {
  width: 100%;
  overflow: hidden;
  margin: 0 0 0.8em;
}
.event_item .event_item_bottom dt {
  float: left;
  margin: 0 1.8em 0 0;
}
.event_item .event_item_bottom dd {
  float: left;
}
.event_item .event_item_bottom dd strong {
  font-weight: 700;
}

.event_item1 {
  background-color: #ffba00;
  margin-left: 0;
}

.event_item2 {
  background-color: #f9554f;
}

.event_item3 {
  background-color: #149639;
}

.main_exhibit {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
  color: #fff;
  background-image: url(../../resources/images/main/main_exhibit.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_exhibit .main_exhibit_title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.1875em;
}
.main_exhibit .innerbox::before {
  content: "";
  display: block;
  width: 35.5em;
  height: 19.25em;
  position: absolute;
  bottom: -5em;
  left: -4em;
  background-image: url(../../resources/images/main/exhibit_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main_exhibit .btn_more {
  display: none;
}

.exhibit_items {
  overflow: hidden;
}
.exhibit_items .slick-dots {
  width: 30%;
  top: 0;
  bottom: initial;
  text-align: right;
}
.exhibit_items .slick-dots li {
  margin: 0 3px;
}
.exhibit_items .exhibit_item .exhibit_item_title {
  font-size: 2.25em;
  font-weight: 700;
  float: left;
  padding: 1.2em 0 0;
  width: 35%;
}
.exhibit_items .exhibit_item .exhibit_item_title a {
  letter-spacing: -0.07em;
}
.exhibit_items .exhibit_item .exhibit_item_title a::after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 20px;
  margin-left: 12px;
  background-image: url(../../resources/images/common/btn_arrow_move.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.exhibit_items .exhibit_item .exhibit_item_img {
  position: relative;
  float: right;
  right: 1em;
  width: 56%;
  height: 0;
  overflow: hidden;
  padding-bottom: 37.1104477612%;
}
.exhibit_items .exhibit_item .exhibit_item_img img {
  width: 100%;
}
.exhibit_items .exhibit_item .exhibit_item_detail {
  padding: 2em 0 0;
  font-size: 1.06em;
  line-height: 1.6em;
  letter-spacing: -0.045em;
  float: left;
  width: 30%;
}

.main_collection {
  padding: 4em 0;
}
.main_collection .main_collection_title {
  margin: 0 0 0.8em 0;
  font-size: 2.125em;
}

.collection_items .collection_item {
  display: block;
  float: left;
  width: 23.5%;
}
.collection_items .collection_item + .collection_item {
  margin-left: 2%;
}
.collection_items .collection_item .collection_item_img {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  background-color: #75849a;
}
.collection_items .collection_item .collection_item_img img {
  width: 100%;
}
.collection_items .collection_item .collection_item_title {
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.6em;
}
.collection_items .collection_item .collection_item_detail {
  color: #5f5f5f;
}

.main_banner {
  padding: 1em 0;
  border-top: 1px solid #dfdfdf;
}
.main_banner .innerbox {
  padding: 0 22.6em 0 8.25em;
}
.main_banner .main_banner_title {
  position: absolute;
  top: 1em;
  left: 0;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0;
}

.banner_items_multi_controllers {
  position: absolute;
  top: 2em;
  left: 0;
}
.banner_items_multi_controllers [class*=btn_slide_] {
  position: relative;
  display: block;
  float: left;
}

.banner_items_multi {
  padding: 1em 0;
}
.banner_items_multi .banner_item {
  float: left;
  border: 1px solid #dddddd;
}
.banner_items_multi .banner_item img {
  width: 100%;
}
.banner_items_multi .slick-list {
  margin: 0 -4px;
}
.banner_items_multi .slick-slide {
  width: 135px;
  margin: 0 4px;
}
.banner_items_multi .slick-slide:first-of-type {
  margin-left: 0;
}

.banner_items_uni_wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 334px;
}
.banner_items_uni_wrap [class*=btn_slide_] {
  top: 50%;
  transform: translate(0, -50%);
}
.banner_items_uni_wrap .btn_slide_prev {
  left: 0;
}
.banner_items_uni_wrap .btn_slide_next {
  right: 0;
}

.banner_items_uni {
  margin-left: 36px;
}
.banner_items_uni .banner_item {
  display: inline-block;
  width: 262px;
  height: 80px;
  border: 1px solid #dddddd;
}
.banner_items_uni .banner_item img {
  width: 100%;
}
.banner_items_uni .slick-list {
  width: 262px;
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
  .guide_items {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .guide_items .guide_item {
    width: initial;
    margin: 0;
    margin-left: 1em;
  }
  .guide_items .guide_item:first-of-type {
    margin: 0;
  }
}
@media screen and (max-width: 1280px) {
  .main_quickmenu .innerbox {
    padding: 0;
    max-width: 100%;
  }
  .guide_items {
    margin: 0;
  }
  .quickmenu_wrap {
    width: 100%;
    padding: 0 1em;
  }
  .event_items .slick-track {
    max-width: 100%;
  }
  .event_items .slick-slide {
    width: 32%;
  }
  .event_tab_head {
    padding-right: 1.5em;
  }
  .main_exhibit .main_exhibit_title {
    left: 1em;
  }
  .main_exhibit .innerbox::before {
    left: 0;
    width: 28em;
    height: 15.1830985915em;
  }
  .main_banner .main_banner_title {
    left: 1em;
  }
  .banner_items_multi_controllers {
    left: 1em;
  }
  .banner_items_uni_wrap {
    right: 1em;
  }
}
@media screen and (max-width: 1024px) {
  .event_tab_head {
    position: relative;
    right: 1.5em;
    z-index: 1;
    padding: 0;
    width: 220px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-image: url(../../resources/images/common/select_arrow.png);
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center right 1em;
  }
  .event_tab_head.active ul {
    max-height: 500px;
    border: 1px solid #ddd;
    border-top: 0;
  }
  .event_tab_head .event_tab_label {
    display: block;
    padding: 0 30px 0 15px;
    width: 100%;
    height: 100%;
    text-align: left;
    background: transparent;
  }
  .event_tab_head ul {
    position: absolute;
    top: 45px;
    left: 0;
    padding: 0;
    width: 100%;
    max-height: 0;
    color: #333;
    background: #fff;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    transition: 0.3s ease-in;
  }
  .event_tab_head .event_tab_button {
    display: block;
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    transition: 0.1s;
  }
  .event_tab_head .event_tab_button:hover {
    color: #fff;
    background: #ff6600;
  }
  .event_tab_head .event_tab_button:last-of-type {
    border-bottom: 0 none;
  }
  .event_tab_head .event_tab_button::before {
    content: none;
  }
  .main_exhibit .innerbox::before {
    left: 6em;
    width: 25em;
    height: 13.5563380282em;
  }
  .exhibit_items .slick-dots {
    width: 50%;
  }
  .exhibit_items .exhibit_item .exhibit_item_title {
    width: 50%;
  }
  .exhibit_items .exhibit_item .exhibit_item_img {
    width: 45%;
    padding-bottom: 29.8208955224%;
  }
  .exhibit_items .exhibit_item .exhibit_item_detail {
    width: 50%;
  }
  .event_item .event_item_top {
    padding: 1.4em;
  }
  .event_item .event_item_bottom {
    padding: 2em 1.4em 1.5em;
  }
}
@media screen and (max-width: 820px) {
  .main_exhibit .innerbox::before {
    width: 22em;
    height: 11.9295774648em;
  }
}
@media screen and (max-width: 720px) {
  .main_visual {
    height: 41.67em;
  }
  [class*=main_visual_image] .main_visual_title {
    font-size: 3.2em;
  }
  .main_board .board_item_wrap {
    width: 100%;
    padding: 0 6em;
    font-size: 1.5em;
  }
  .main_board .board_item_wrap:last-of-type {
    display: none;
  }
  .main_board .board_item_wrap .board_item_date {
    right: 0;
  }
  .guide_items {
    padding: 1.5em 1em;
    width: 100%;
    clear: both;
  }
  .guide_items .guide_item {
    margin-bottom: 12px;
    font-size: 1.8em;
  }
  .guide_items .guide_item dt {
    width: 5em;
    font-weight: 400;
  }
  .guide_items .guide_item dd {
    padding-top: 0.2em;
    width: 74%;
  }
  .guide_items .guide_item dd br {
    display: none;
  }
  .quickmenu_wrap {
    padding: 0 3em;
  }
  .quickmenu_items [class*=quickmenu_item] {
    font-size: 2em;
    font-weight: 400;
  }
  .quickmenu_items [class*=quickmenu_item]::before {
    width: 5.75em;
    height: 5.75em;
  }
  .main_event {
    padding: 2em 0;
  }
  .main_event .main_event_title {
    font-size: 3em;
  }
  .event_tab_head {
    width: 100%;
    right: 0;
    margin: 1em 0 0;
  }
  .event_tabcon {
    padding-bottom: 3em;
  }
  .event_items .slick-track {
    max-width: initial;
  }
  .event_items .slick-slide {
    margin-left: 0;
  }
  .event_item {
    width: 100%;
  }
  .event_item .event_item_top strong {
    font-size: 2em;
  }
  .event_item .event_item_top p {
    font-size: 1.5em;
  }
  .event_item .event_item_top .btn_more {
    bottom: 1.5em;
  }
  .event_item .event_item_bottom dl {
    font-size: 1.5em;
  }
  .main_exhibit {
    padding: 3em 0;
  }
  .main_exhibit .main_exhibit_title {
    font-size: 1.5em;
    left: 0.8em;
  }
  .main_exhibit .innerbox::before {
    display: none;
  }
  .main_exhibit .btn_more {
    display: block;
    top: 0;
  }
  .exhibit_items .slick-dots {
    position: static;
    width: 100%;
    text-align: center;
  }
  .exhibit_items .exhibit_item .exhibit_item_title {
    width: 100%;
    font-size: 3em;
  }
  .exhibit_items .exhibit_item .exhibit_item_detail {
    width: 100%;
    font-size: 1.375em;
  }
  .exhibit_items .exhibit_item .exhibit_item_img {
    right: 0;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 66.2686567164%;
  }
  .main_collection .main_collection_title {
    font-size: 3em;
  }
  .collection_items .collection_item {
    display: none;
    width: 49%;
  }
  .collection_items .collection_item:nth-of-type(1), .collection_items .collection_item:nth-of-type(2) {
    display: block;
  }
  .main_banner {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .main_visual [class*=main_visual_image] .main_visual_title {
    font-size: 2.6em;
  }
  .main_visual [class*=main_visual_image] .main_visual_title br {
    display: block;
  }
  .quickmenu_items [class*=quickmenu_item] {
    font-size: 1.6em;
  }
  .guide_items {
    font-size: 0.8em;
  }
  .event_item .event_item_top {
    padding: 1.4em 2em;
  }
}
@media screen and (max-width: 360px) {
  .guide_items .guide_item dd {
    width: 100%;
    padding-left: 0.2em;
  }
}